﻿/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
@font-face {
    font-family:"Ethiopic Yigezu Bisrat Goffer";
    src:url("goffer.eot?") format("eot"),url("goffer.woff") format("woff"),url("goffer.ttf") format("truetype"),url("goffer.svg#EthiopicYigezuBisratGoffer") format("svg");
    font-weight:normal;
    font-style:normal;
}
