h2 {
	font-family: titillium web, sans-serif;
}

.full-width-input {
	width: 90%;
}

.full-width-input-xs {
	width: 90%;
	margin-left: 10px;
}

button {
	font-family: titillium web,sans-serif;	
}

mat-form-field, mat-select, mat-option {
	font-family: titillium web,sans-serif;
}

.loading-img {
    margin-left: -40px;
}