<h2 mat-dialog-title *ngIf="title === 'Add'">
    {{ 'chMgt.addFamilyMemberTitle' | translate }}
</h2>

<h2 mat-dialog-title *ngIf="title === 'Edit'">
    {{ 'chMgt.editFamilyMemberTitle' | translate }}
</h2>

<h2 mat-dialog-title *ngIf="title === 'Preview'">
    {{ 'chMgt.familyMember' | translate }}
</h2>

<mat-divider style="width: 40%; margin-bottom: 10px;"></mat-divider>

<mat-dialog-content [formGroup]="familyMemberForm" *ngIf="title === 'Add' || title === 'Edit'">
    <div style="transform: scale(0.8); position: fixed; top: 33%; left: 61%; cursor: pointer;" [ngStyle.xs]="'left: 77%;'" [ngStyle.sm]="'left: 66%;'" [ngStyle.md]="'left: 62%;'">
        <mat-icon style="border: 1px solid #909497; color: #A6ACAF; border-radius: 50%;" (click)="close()" [ngStyle.xs]="'transform: scale(0.8);'">
            close
        </mat-icon>
    </div>

    <div fxLayout="column" style="border: 0px solid black; padding-top: 10px; padding-bottom: 10px; height: 22vh;">
        <div fxFlex fxLayout fxLayout.xs="column" style="border: 0px solid yellow;">
            <div fxFlex style="border: 0px solid red;">
                <mat-form-field class="full-width-input" [ngClass.xs]="'full-width-input-xs'">
                    <mat-label>{{ 'chMgt.church-member.fullName' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'chMgt.church-member.fullName' | translate }}" formControlName="fullName" required>
                    <mat-error *ngIf="familyMemberForm.get('fullName').hasError('required')">
                        {{ 'chMgt.church-member.fullNameError' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex style="border: 0px solid red;">
                <mat-form-field class="full-width-input" [ngClass.xs]="'full-width-input-xs'">
                    <mat-label>{{ 'chMgt.church-member.gender' | translate }}</mat-label>
                    <mat-select #gender required formControlName="gender">
                        <mat-option *ngFor="let gender of genders" [value]="gender.value">
                            {{gender.viewValue}}
                        </mat-option>                                    
                    </mat-select>
                    <mat-error *ngIf="familyMemberForm.get('gender').hasError('required')">
                            {{ 'chMgt.church-member.genderError' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxFlex fxLayout fxLayout.xs="column" style="border: 0px solid yellow;">
            <div fxFlex>
                <mat-form-field class="full-width-input" [ngClass.xs]="'full-width-input-xs'">
                    <input matInput [matDatepicker]="picker" placeholder="{{ 'chMgt.church-member.dateOfBirth' | translate }}" formControlName="dateOfBirth" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="familyMemberForm.get('dateOfBirth').hasError('required')">
                        {{ 'chMgt.church-member.dateOfBirthError' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex>
                <mat-form-field class="full-width-input" [ngClass.xs]="'full-width-input-xs'">
                    <mat-label>{{ 'chMgt.church-member.christianName' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'chMgt.church-member.christianName' | translate }}" formControlName="christianName" required>
                    <mat-error *ngIf="familyMemberForm.get('christianName').hasError('required')">                                        
                        {{ 'chMgt.church-member.christianNameError' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxFlex fxLayout fxLayout.xs="column" style="border: 0px solid yellow;">
            <div fxFlex style="border: 0px solid red;">
                <mat-form-field class="full-width-input" [ngClass.xs]="'full-width-input-xs'">
                    <mat-label>{{ 'chMgt.church-member.familyRelation' | translate }}</mat-label>
                    <mat-select #familyRelation required formControlName="familyRelation">
                        <mat-option *ngFor="let familyRelation of familyRelations" [value]="familyRelation.value">
                            {{familyRelation.viewValue}}
                        </mat-option>                                    
                    </mat-select>
                    <mat-error *ngIf="familyMemberForm.get('familyRelation').hasError('required')">
                            {{ 'chMgt.church-member.familyRelationError' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex> 
                &nbsp;              
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-content *ngIf="title === 'Preview'">
    <div style="transform: scale(0.8); position: fixed; top: 33%; left: 61%; cursor: pointer;" [ngStyle.xs]="'left: 72%;'" [ngStyle.sm]="'left: 66%;'" [ngStyle.md]="'left: 62%;'">
        <mat-icon style="border: 1px solid #909497; color: #A6ACAF; border-radius: 50%;" (click)="close()" [ngStyle.xs]="'transform: scale(0.8);'">
            close
        </mat-icon>
    </div>

    <div fxLayout="column" style="padding: 10px; height: 22vh;">
        <div fxFlex fxLayout style="border-top: 1px solid #A6ACAF; border-left: 1px solid #A6ACAF; border-right: 1px solid #A6ACAF;">
            <div fxFlex fxLayoutAlign="end" style="font-weight: bold;">
                {{ 'chMgt.church-member.fullName' | translate }}:
            </div>
            <div fxFlex style="padding-left: 10px;">
                {{ 'chMgt.church-member.fullName' | translate }}
            </div>            
        </div>
        <div fxFlex fxLayout style="border-left: 1px solid #A6ACAF; border-right: 1px solid #A6ACAF;">
            <div fxFlex fxLayoutAlign="end" style="font-weight: bold;">
                {{ 'chMgt.church-member.christianName' | translate }}:
            </div>
            <div fxFlex style="padding-left: 10px;">
                {{ 'chMgt.church-member.christianName' | translate }}
            </div>
        </div>
        <div fxFlex fxLayout style="border-left: 1px solid #A6ACAF; border-right: 1px solid #A6ACAF;">
            <div fxFlex fxLayoutAlign="end" style="font-weight: bold;">
                {{ 'chMgt.church-member.gender' | translate }}:
            </div>
            <div fxFlex style="padding-left: 10px;">
                {{ 'chMgt.church-member.gender' | translate }}
            </div>           
        </div>
        <div fxFlex fxLayout style="border-left: 1px solid #A6ACAF; border-right: 1px solid #A6ACAF;">
            <div fxFlex fxLayoutAlign="end" style="font-weight: bold;">
                {{ 'chMgt.church-member.dateOfBirth' | translate }}:
            </div>
            <div fxFlex style="padding-left: 10px;">
                {{ 'chMgt.church-member.dateOfBirth' | translate }}
            </div>           
        </div>
        <div fxFlex fxLayout style="border-bottom: 1px solid #A6ACAF; border-left: 1px solid #A6ACAF; border-right: 1px solid #A6ACAF;">
            <div fxFlex fxLayoutAlign="end" style="font-weight: bold;">
                {{ 'chMgt.church-member.familyRelation' | translate }}:
            </div>
            <div fxFlex style="padding-left: 10px;">
                {{ 'chMgt.church-member.familyRelation' | translate }}
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-divider style="margin-top: 10px;"></mat-divider>

<mat-dialog-actions *ngIf="title === 'Add' || title === 'Edit'">
    <button class="mat-raised-button" (click)="close()">{{ 'chMgt.closeBtn' | translate }}</button>&nbsp;&nbsp;
    <button class="mat-raised-button mat-primary" [disabled]="loading" (click)="save()">{{ 'chMgt.saveBtn' | translate }}</button>
    <img *ngIf="loading" class="loading-img" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
</mat-dialog-actions>