<footer style="padding-top: 20px; padding-bottom: 10px;">
  <div class="container">
  	<mat-divider class="footer-divider"></mat-divider>
    <a class="logo-font" routerLink="/">Sate Solutions</a>
    <span class="attribution logo-font">
      &copy; {{ today | date: 'yyyy' }}.
       | All Rights Reserved.
    </span>
  </div>
</footer>

<!-- <footer>
	<mat-divider class="footer-divider"></mat-divider>
    <p class="footer-text">&copy; 2018 Sate Solutions | All Rights Reserved.</p>
</footer> -->