.container {
	/*padding-top: 1px;*/
	/*margin-bottom: 10px;*/
	text-align: center;
}

.footer-divider {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 40%;    
}

footer .logo-font {
	vertical-align:middle;
	color: #3d8b3d;
	padding-right:5px;
	text-decoration: none;
}

footer a:hover {
	color:#3d8b3d;
	text-decoration:underline
}

footer .attribution { 
	vertical-align:middle;
	margin-left:auto;
	margin-right: auto;
	font-size:.8rem;
	/*color:#bbb;*/
	color: #3d8b3d;
	font-weight:300;

}

.logo-font{
	font-family:titillium web,sans-serif;		
}