<mat-toolbar color="primary" class="sticky">
  <mat-toolbar-row>
    <div fxLayout fxFill>
      <div fxFlex="2" fxFlex.lt-lg="3" fxFlex.lt-md="5" fxFlex.lt-sm="10" style="padding-top: 5px;">
        <button mat-icon-button (click)="toggleSidenav.emit()" *ngIf="currentUser">
          <mat-icon>menu</mat-icon>
        </button>
        <img src="assets/logos/logo_3.png" class="logo" *ngIf="!currentUser">
      </div>
      <div fxFlex="10" fxFlex.lt-lg="11" fxFlex.lt-md="13" fxFlex.lt-sm="16">
        <img style="padding-top: 5px;" src="assets/logos/logo_2_2.png" class="logo" *ngIf="currentUser">
        <div *ngIf="!currentUser" class="app-name" style="margin-left: 20px;">
            <span fxHide.xs>{{ 'chMgt.appName' | translate }}</span>
            <span fxHide.gt-xs>{{ 'chMgt.appNameShort' | translate }}</span>
          </div>
      </div>
      <div fxFlex fxLayoutAlign="end">        
        <div fxLayout>
          <div fxFlex style="padding-top: 10px;">
            <button [ngClass.gt-xs]="'nav_item'" [ngClass.xs]="'nav_item_xs'" mat-button routerLink="{{ homeLink }}" *ngIf="currentUser">
              <mat-icon title="{{ 'chMgt.home' | translate }}">home</mat-icon>&nbsp;        
              <span fxHide.xs>{{ 'chMgt.home' | translate }}</span>
            </button>
          </div>
          <!-- <div fxFlex fxHide.lt-sm style="padding-top: 10px;">
            <button title="Notifications" mat-button class="nav_item" (click)="clickEvent('profileSettings')" *ngIf="currentUser">           
              <span><mat-icon class="toolbar_icon">shopping_cart</mat-icon></span>
            </button>
          </div> -->
          <div fxFlex style="padding-top: 10px;">
            <button title="Notifications" mat-button [ngClass.gt-xs]="'nav_item'" [ngClass.xs]="'nav_item_xs'"  (click)="clickEvent('profileSettings')" *ngIf="currentUser"> 
              <mat-icon>notifications</mat-icon>
            </button>
          </div>
          <div fxFlex fxHide.lt-sm style="padding-top: 10px;">
              <button fxHide.xs title="Help and Support" mat-button class="nav_item"  (click)="clickEvent('profileSettings')" [matMenuTriggerFor]="helpMenu" *ngIf="currentUser"> 
                  <mat-icon>help_outline</mat-icon>
              </button>
                  <mat-menu #helpMenu="matMenu">
                    <div fxLayout="column">                                  
                      <div fxFlex>
                        <button mat-menu-item>
                          <span>Support Center</span>
                        </button>
                      </div>
                      <div fxFlex>
                        <mat-divider></mat-divider>
                      </div>
                      <div fxFlex>
                        <button mat-menu-item>
                          <span>Contact us</span>
                        </button>
                      </div>
                    </div>
                  </mat-menu>
          </div>
          <div fxFlex fxHide.lt-sm style="padding-top: 10px;">
              <button title="Today's tasks" mat-button [matMenuTriggerFor]="todayTaskMenu" class="nav_item"  (click)="clickEvent('profileSettings')" *ngIf="currentUser"> 
                  <mat-icon>today</mat-icon>
                </button>
                  <mat-menu #todayTaskMenu="matMenu">
                    <div fxLayout="column" class="today_task_container">
                      <div fxFlex>
                        <div fxLayout>
                          <div fxFlex>
                            <div class="today_day">
                              <span>{{ today | date: 'EEE' }}</span>
                            </div>
                            <div class="today_day_no">
                              <span>{{ today | date: 'd' }}</span>
                            </div>
                          </div> 
                          <!-- <div fxFlex>
                            <div style="float: right; color: #7F8C8D; margin-right: 20px; margin-left: 50px;">
                              <mat-icon (click)="todayTaskMenu.close()">close</mat-icon>
                            </div>
                          </div> -->
                        </div>
                      </div>              
                      <div fxFlex>
                        <mat-divider></mat-divider>
                      </div>
                      <div fxFlex>
                        <div fxLayout="column" class="today_task_content">
                          <div fxFlex class="today_task_no_content" *ngIf="todayTasks.length == 0">
                            You have no task for today
                          </div>
                          <div fxFlex class="today_tasks" *ngIf="todayTasks.length > 0">
                            <div class="today_task_with_content">
                              All Day
                            </div>
                            <div *ngFor="let todayTask of todayTasks; let i = index;" (click)="$event.stopPropagation()">
                              <div fxLayout class="today_tasks_detail" (mouseover)="btnTodayTask + i = true" (mouseleave)="btnTodayTask + i = false">
                                <div fxFlex="2%" style="background-color: #424949;"></div>
                                <div fxFlex="3%"></div>
                                <div fxFlex>
                                  <div fxLayout>
                                    <div fxFlex *ngIf="btnTodayTask + i">
                                      <mat-radio-group>
                                        <mat-radio-button color="primary" [value]="i" [checked]="todayTask.status === true"></mat-radio-button> 
                                      </mat-radio-group>
                                    </div>
                                    <div fxFlex="82%" [ngClass]="todayTask.status ? 'task_done' : ''">
                                      {{ todayTask.title }}
                                    </div>
                                  </div>
                                </div>
                                <div fxFlex="5%"> 
                                  <mat-icon style="color: #424949;" [matMenuTriggerFor]="todayTaskSubMenu">
                                    more_vert
                                  </mat-icon>
                                  <mat-menu #todayTaskSubMenu="matMenu" style="">
                                    <div fxLayout="column">                                  
                                      <div fxFlex>
                                        <button mat-menu-item>
                                          <mat-icon>check_circle_outline</mat-icon>
                                          <span *ngIf="todayTask.status">Mark as not done</span>
                                          <span *ngIf="!todayTask.status">Mark as done</span>
                                        </button>
                                      </div>
                                      <div fxFlex>
                                        <mat-divider></mat-divider>
                                      </div>
                                      <div fxFlex>
                                        <button mat-menu-item>
                                          <mat-icon>delete_outline</mat-icon>
                                          <span>Delete task</span>
                                        </button>
                                      </div>
                                    </div>
                                  </mat-menu>
                                </div>
                              </div>                        
                            </div>
                          </div>
                        </div>
                      </div>
                      <div fxFlex>
                        <mat-divider style="color: #797D7F;"></mat-divider>
                      </div>
                      <div fxFlex>
                        <button mat-menu-item>
                          <span>View Day</span>
                        </button>
                      </div>
                    </div>              
                  </mat-menu>
          </div>      
          <div fxFlex style="padding-top: 10px;">
              <button title="Profile Settings" mat-button [matMenuTriggerFor]="profileMenu" [ngClass.gt-xs]="'nav_item'" [ngClass.xs]="'nav_item_xs'"  (click)="clickEvent('profileSettings')" *ngIf="currentUser"> 
                  <span fxHide.lt-sm>Samuel T</span>
                  <mat-icon fxShow.xs fxHide.gt-xs>account_circle</mat-icon>
                  <span>&nbsp;&nbsp;</span>
                  <span><mat-icon>arrow_drop_down</mat-icon></span>
                </button>
                  <mat-menu #profileMenu="matMenu">
                    <div fxLayout="column">
                      <div fxFlex>
                        <div fxLayout>
                          <div fxFlex>
                            <div class="profile_name">
                              <span>Samuel Teshome</span>
                            </div>
                            <div class="profile_email">
                              <span>samuel.teshome@abc.com</span>
                            </div>
                          </div>
                          <div fxFlex>
                            <div class="profile_initials">
                              <h2 class="profile_initials_txt">S</h2>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div fxFlex>&nbsp;</div>
                      <div fxFlex>
                        <mat-divider></mat-divider>
                      </div>
                      <div fxFlex>
                        <button mat-menu-item>
                          <mat-icon class="material-icons-outlined">settings</mat-icon>
                          <span>Account Settings</span>
                        </button>
                      </div>
                      <div fxFlex>
                        <button mat-menu-item>
                          <mat-icon>lock_outline</mat-icon>
                          <span>Password</span>
                        </button>
                      </div>
                      <div fxFlex>
                        <mat-divider></mat-divider>
                      </div>
                      <div fxFlex>
                        <button mat-menu-item (click)="onLogout();">
                          <mat-icon>launch</mat-icon>
                          <span>Log out</span>
                        </button>
                      </div>
                    </div>              
                  </mat-menu>
          </div>
          <div fxFlex>&nbsp;&nbsp;</div>
          <div fxFlex>
              <mat-form-field style="width: 50px;" [ngStyle.lt-sm]="'width: 37px; font-size: 14px;'" appearance="none">
                <mat-select [(ngModel)]="selectedLanguage"                   
                            (selectionChange)="onLanguageSelect($event)">
                  <mat-option *ngFor="let l of languages" [value]="l" [ngStyle.lt-sm]="'font-size: 14px;'">
                    {{ l.toUpperCase() }}
                  </mat-option>
                </mat-select>          
              </mat-form-field>        
          </div>          
        </div>          
      </div>
    </div>
  </mat-toolbar-row>

</mat-toolbar>