.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  /*right: 0;*/
  /*width: 100%;*/
  width: 100% !important;
}

mat-toolbar-row {
  padding: 0px;
}

.logo {
  margin: 0 10px 3px 0;
  height: 50px;
  vertical-align: middle;
}

.app-name {
  margin-left: 10px; 
  padding-top: 10px; 
  font-family: titillium web,sans-serif;
}

:lang(am) .app-name {
  font-family: Ethiopia Jiret; 
}

button {
  font-family:titillium web,sans-serif;
  font-size: 15px;
}

.nav_item {
  background-color: transparent;
  font-weight: 500;
  text-transform: inherit;
  margin-bottom: 0;
  color: #a9a2b7;
  margin-left: 1px;
  border-radius: 20px;
}
.nav_item_xs {
  background-color: transparent;
  font-weight: 500;
  text-transform: inherit;
  margin-bottom: 0;
  color: #a9a2b7;
  margin-left: 1px;
  border-radius: 20px;
  width: 30px;
}

.nav_item.active {
  background-color: #8e85a1;
  color: #FFFFFF;
  border-radius: 20px;
}

.nav_item_xs.active {
  color: #FFFFFF;
  border-radius: 20px;
}

.nav_item:hover {
  background-color: #a9a2b7 !important;
  color: #FFFFFF;
}


.profile_name {
  font-family:titillium web,sans-serif;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 16px;
}

.profile_email {
  font-family:titillium web,sans-serif;
  clear: left;
  float: left;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 13px;
  color: #7F8C8D;
}

.profile_initials {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #008080;
  margin-right: 10px;
  margin-left: 10px;
}

.profile_initials_txt {
  font-family:titillium web,sans-serif;
  color: #FFFFFF;
  padding-left: 12px;
}

.today_tasks {
  margin-left: 10px; 
  max-width: 230px;
}

.today_tasks_detail {
  margin-top: 5px;
  background-color: #F2F3F4;
  cursor: pointer;
}

.task_done {
  text-decoration: line-through;
}

.toolbar_icon {
  /* transform: scale(1);  */
  /* padding-top: 2px; */
  /* margin-top: 10px; */
}

.today_task_container {
  width: 270px; 
  max-height: 250px; 
  overflow: hidden;
}

.today_day {
  float: left; 
  margin-left: 20px; 
  margin-top: 10px; 
  font-size: 15px; 
  color: #21618C;
}

.today_day_no {
  clear: left; 
  float: left; 
  margin-left: 20px; 
  font-size: 30px; 
  color: #154360;
}

.today_task_content {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 120px;
}

.today_task_no_content {
  margin-left: 10px; 
  color: #a9a2b7; 
  text-transform: uppercase; 
  font-size: 12px;
}

.today_task_with_content {
  margin-top: 5px;
  color: #a9a2b7;
  text-transform: uppercase;
  font-size: 14px;
}