mat-panel-title, a {
	font-family:titillium web,sans-serif;
}

.main-divider {
  border-top-color: blue; 
  width: 95%; 
  margin-left: auto; 
  margin-right: auto;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}