<mat-accordion displayMode="flat">
  <mat-expansion-panel [expanded]="i === 0" *ngFor="let menu of userMenus; let i = index;">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>{{ menu.iconName }}</mat-icon>&nbsp;&nbsp;
        {{ menu.displayName }}
      </mat-panel-title>      
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <span *ngFor="let child of menu.children">
      <a mat-list-item routerLink="/{{child.route}}" (click)="sideNav.close()">
        <mat-icon>{{ child.iconName }}</mat-icon>&nbsp;&nbsp;
        {{ child.displayName }}
      </a>
      <mat-divider></mat-divider>
    </span>
  </mat-expansion-panel>
</mat-accordion>

<br fxHide.gt-xs />
<mat-divider fxHide.gt-xs class="main-divider"></mat-divider>
<br fxHide.gt-xs />

<ul fxLayout="column" fxHide.gt-xs class="navigation-items">
  <mat-divider></mat-divider>
  <li>
    <a mat-list-item routerLink="/admin" (click)="sidenav.close()">
      <mat-icon>today</mat-icon>&nbsp;&nbsp;
      Today's tasks
    </a>
  </li>
  <mat-divider></mat-divider>
  <li>
    <a mat-list-item routerLink="/admin" (click)="sidenav.close()">
      <mat-icon>help_outline</mat-icon>&nbsp;&nbsp;
      Support Center
    </a>
  </li> 
  <mat-divider></mat-divider>
  <li>
    <a mat-list-item routerLink="/admin" (click)="sidenav.close()">
      <!-- contact_support -->
      <mat-icon class="material-icons-outlined">forum</mat-icon>&nbsp;&nbsp;
      Contact us
    </a>
  </li> 
  <mat-divider></mat-divider>
  <li>
    <a mat-list-item routerLink="/admin" (click)="sidenav.close()">
      <mat-icon>power_settings_new</mat-icon>&nbsp;&nbsp;
      Sign out
    </a>
  </li>
  <mat-divider></mat-divider>
</ul>
      