<div fxLayout fxLayoutAlign="flex-end" style="background-color: #f5f5f7; padding-top: 0.5rem; padding-bottom: 0.5rem;">
	<div fxFlex="50">
		<div class="subheaderbar_text">
			{{ pageName }}
		</div>
	</div>

	<div fxFlex style="border: 0px solid black;">
		<div fxLayout>
			<div fxFlex="30" fxHide.lt-lg>&nbsp;</div>
			<div fxFlex="30" fxFlex.xs="40" fxFlex.md="45" fxFlex.sm="50" title="{{ 'chMgt.viewParishAllMember' | translate }}">
				<div class="navbar_gauge-ctn" (mouseover)="btnContact = true" (mouseleave)="btnContact = false" [ngClass]="[btnContact ? 'active' : '', my_clients ? 'active' : '']" fxLayout *ngIf="!checkedShowHide">
					<div fxFlex="20" fxFlex.xs="50" class="navbar_gauge-dial">
						<span style="margin-left: -0.3rem; color: #a9a2b7;" [ngStyle.lt-md]="'margin-left: -0.8rem;'">100</span>
					</div>
					<div fxHide.lt-sm fxFlex style="margin-left: 5px;">
						<div style="margin-top: -0.3rem; margin-left: 0.8rem; color: #a9a2b7;">
							{{ 'chMgt.allMember' | translate }} {{ 'chMgt.members' | translate }}
						</div>
						<div style="margin-top: -0.3rem; margin-left: 0.8rem; color: #7F8C8D;">
							{{ 'chMgt.total' | translate }}
						</div>
					</div>
					<div fxShow.xs fxHide.gt-xs>
						<mat-icon class="toolbar_icon material-icons-outlined">contacts_outline</mat-icon>					
					</div>
				</div>
			</div>

			<div fxFlex="35" fxFlex.xs="40" fxFlex.md="45" fxFlex.sm="50" title="{{ 'chMgt.viewParishActiveMember' | translate }}">
				<div class="navbar_gauge-opp" (mouseover)="btnOpprtunities = true" (mouseleave)="btnOpprtunities = false" [ngClass]="btnOpprtunities ? 'active' : ''" fxLayout *ngIf="!checkedShowHide">
					<div fxFlex="20" fxFlex.xs="50" class="navbar_gauge-dial">
						<span style="margin-left: -0.3rem; color: #a9a2b7;" [ngStyle.xs]="'margin-left: -0.8rem;'">50</span>
					</div>
					<div fxHide.lt-sm fxFlex style="margin-left: 5px;">
						<div style="margin-top: -0.3rem; margin-left: 0.8rem; color: #a9a2b7;">
							{{ 'chMgt.active' | translate }} {{ 'chMgt.members' | translate }}
						</div>
						<div style="margin-top: -0.3rem; margin-left: 0.8rem; color: #7F8C8D;">
							{{ 'chMgt.total' | translate }}
						</div>
					</div>
					<div fxShow.xs fxHide.gt-xs>
						<mat-icon class="toolbar_icon material-icons-outlined">card_giftcard</mat-icon>					
					</div>
				</div>
			</div>
			<div fxFlex="10" fxFlex.xs="25" fxLayout="column" style="border: 0px solid red;">
				<div fxFlex>
				    <mat-slide-toggle color="accent" (change)="showHide($event)">
					</mat-slide-toggle>
				</div>
				<div fxFlex>
			    	<div style="font-size: 0.75rem; padding-top: 10px;">
			    		<span *ngIf="checkedShowHide">{{ 'chMgt.show' | translate }}</span>
			    		<span *ngIf="!checkedShowHide">{{ 'chMgt.hide' | translate }}</span>
			    	</div>
			    </div>
			</div>
		</div>
	</div>
</div>