.subheaderbar_text {
	padding: 10px 0;
	margin-left: 20px;
	max-height: 70px;
	font-size: 25px;
	font-weight: 400;
	color: #4a4a4a;
}

:lang(am) .subheaderbar_text{
	font-family: Ethiopia Jiret;
    font-size: 2rem;
}

.navbar_gauge-ctn {
	margin-right: 1rem;
	padding: 7px 14px 7px 11px;
	cursor: pointer;
	max-height: 50px;
}

.navbar_gauge-ctn.active {
	border-radius: 40px;
	border: solid 1px #e4e4e7;
	background: rgba(233, 233, 236, 0.4);
}

.navbar_gauge-opp {
	margin-right: 1rem;
	padding: 7px 14px 7px 11px;
	cursor: pointer;
	max-height: 50px;
}

.navbar_gauge-opp.active {
	border-radius: 40px;
	border: solid 1px #e4e4e7;
	background: rgba(233, 233, 236, 0.4);
}

.navbar_gauge-dial {
	padding: 1rem;
	border: solid 1px #e9e9eb;
	border-radius: 50px;
	height: 0px;
	margin-right: 4px;
	line-height: 2px;
	background: #f9f9fa;
}

.toolbar_icon {
  transform: scale(0.9); 
  margin-left: 0.5rem;
  margin-top: 0.4rem;
  color: #4a4a4a;
}


/*--------- Checkbox ------------*/
.checkboxOne {
    width: 40px;
    height: 10px;
    background: #A569BD;
    margin-top: 15px;
    /*margin: 20px 80px;*/
    position: relative;
    border-radius: 3px;
}

.checkboxOne label {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;

    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: -3px;
    left: -3px;

    background: #229954;
}

.checkboxOne input[type=checkbox]:checked + label {
    left: 27px;
    background: #ccc;
}