<div fxLayout="column" style="background-color: white;">
	<div fxFlex>		
		<app-layout-sub-header [pageName]="pageName"></app-layout-sub-header>
	</div>

	<div fxFlex fxLayout fxLayoutAlign="end" style="background-color: white; padding-top: 10px; padding-bottom: 10px;">
		<div fxFlex="40" fxFlex.xs="80" fxFlex.sm="70" fxFlex.md="60" fxLayoutAlign="end">
			<div fxFlex="30" fxFlex.xs="40" fxLayout fxLayoutAlign="flex-end">
				<div class="search_input">
					<input placeholder="{{ 'chMgt.search' | translate }}" [(ngModel)]="search" [ngClass]="inputSearch ? 'expand' : ''" (focus)="inputSearch = true" (blur)="inputSearch = false">
					<span class="search_icon" *ngIf="!search">
						<mat-icon>search</mat-icon>
					</span>
					<span class="search_clear"  *ngIf="search">
						<mat-icon (click)="clearSearch();">cancel</mat-icon>	
					</span>
				</div>
			</div>
			<div fxFlex="12" fxFlex.xs="20" fxLayoutAlign="flex-end" title="{{ 'chMgt.filter' | translate }}">
				<button fxHide.xs class="md-secondary md-button" (click)="filterMemberList();"> 
					<mat-icon class="material-icons-outlined" style="color: #9a9a9a;">filter_list</mat-icon>
				</button>
				<div fxHide.gt-xs class="import-export-sm" (click)="filterMemberList();">
					<mat-icon class="icons-sm">filter_list</mat-icon>
				</div>						
			</div>
			<div fxFlex="12" fxLayoutAlign="flex-end" title="{{ 'chMgt.importExport' | translate }}">
				<button fxHide.xs class="md-secondary md-button" [matMenuTriggerFor]="importExportMenu"> 
					<mat-icon style="color: #9a9a9a;">import_export</mat-icon>
				</button>
				<div fxHide.gt-xs class="import-export-sm" [matMenuTriggerFor]="importExportMenu">
					<mat-icon class="icons-sm">import_export</mat-icon>
				</div>
				<mat-menu #importExportMenu="matMenu">
					<div fxLayout="column">                                  
					<div fxFlex>
						<button mat-menu-item>
						<mat-icon>input</mat-icon>
						<span>{{ 'chMgt.importMember' | translate }} (.csv file)</span>
						</button>
					</div>
					<div fxFlex>
						<mat-divider></mat-divider>
					</div>
					<div fxFlex>
						<button mat-menu-item>
						<mat-icon>get_app</mat-icon>
						<span>{{ 'chMgt.exportMember' | translate }} (.csv file)</span>
						</button>
					</div>			            
					</div>
				</mat-menu>				
			</div>
			<div fxFlex="20" fxFlex.xs="15" fxLayoutAlign="flex-end">
				<button fxHide.xs class="md-secondary-add md-button" (click)="addChurchMember()">
					<span  style="color: #FFFFFF; text-transform: uppercase;">
						{{ 'chMgt.addMember' | translate }}
					</span>
				</button>
				<div fxHide.gt-xs class="member-add-sm" title="{{ 'chMgt.addMember' | translate }}">
					<mat-icon class="icons-sm"  style="color: #FFFFFF;" (click)="addChurchMember()">add</mat-icon>
				</div>
			</div>
		</div>
	</div> 

	<div fxFlex fxLayoutAlign="center" *ngIf="activePageDataChunk.length == 0" style="background-color: #f5f5f7; margin: 1rem 0.5rem 1rem 0.5rem; padding: 20px;">
		<mat-card class="no-data-card">
			<h1 style="text-align: center;">
				{{ 'chMgt.noData' | translate }}					
			</h1>
		</mat-card>
	</div>

	<div fxFlex *ngIf="activePageDataChunk.length > 0" style="background-color: white; padding-left: 0.5rem; padding-right: 0.5rem; padding-top: 1rem; padding-bottom: 1rem; height: 100%;">
		<div fxLayout="column" style="background-color: #f5f5f7; padding-bottom: 1rem;">
			<div fxFlex class="list" style="padding-top: 1rem; border: 0px solid black;" (mouseover)="btnMembersOptHeader = true" (mouseleave)="btnMembersOptHeader = false">
				<div fxLayout fxFill>
					<div fxFlex="4" fxFlex.xs="20" style="padding-left: 20px; border: 0px solid red;" [ngStyle.md]="'padding-left: 10px;'" [ngStyle.sm]="'padding-left: 10px;'">
                        <div class="round" *ngIf="btnMembersOptHeader || modelArr.length > 0 || isAllSelected()">
						    <input type="checkbox" id="checkbox" (change)="$event ? masterToggle() : null"
                    					  [checked]="modelArr.length > 0 && isAllSelected()"
                    					  (click)="btnSelectAll($event)"
                      					  [indeterminate]="modelArr.length > 0 && !isAllSelected()" />
						    <label for="checkbox"></label>
						</div>
					</div>
					<div fxFlex="20" fxFlex.sm="35" fxLayoutAlign.sm="center" fxLayoutAlign.md="center" style="border: 0px solid red;">
						{{ 'chMgt.church-member.fullName' | translate }}
					</div>
					<div fxFlex fxHide.lt-sm fxHide.sm fxLayoutAlign="center" style="border: 0px solid red;">
						{{ 'chMgt.church-member.christianName' | translate }}
					</div>
					<div fxFlex fxHide.lt-sm fxHide.sm fxLayoutAlign="center" style="border: 0px solid red;">
						{{ 'chMgt.church-member.address' | translate }}
					</div>
					<div fxFlex fxHide.lt-sm fxLayoutAlign="center" style="border: 0px solid red;">
						{{ 'chMgt.church-member.priest' | translate }} {{ 'chMgt.church-member.priestName' | translate }}
					</div>
					<div fxFlex fxHide.lt-sm fxLayoutAlign="center" style="border: 0px solid red;">
						{{ 'chMgt.church-member.priest' | translate }} {{ 'chMgt.church-member.priestChurch' | translate }}
					</div>
					<div fxFlex fxLayoutAlign="flex-end" style="margin-right: 20px;" style="border: 0px solid red;">
						{{ 'chMgt.church-member.actions' | translate }}
					</div>
				</div>
			</div>

			<div fxFlex *ngFor="let member of activePageDataChunk; let i = index;" style="margin-top: 0.5rem;">
				<mat-card class="example-card" (mouseover)="btnMembersOpt[i] = true" (mouseleave)="btnMembersOpt[i] = false" [ngClass]="modelArr.includes(member.id) ? 'selected' : ''">					
					<mat-card-content>
						<div FxLayout fxFill >
							<div fxFlex="3" fxFlex.lt-sm="10" style="border: 0px solid yellow;">
								<div class="round round_detail" *ngIf="btnMembersOpt[i] || modelArr.includes(member.id)">
							        <input type="checkbox" id="checkbox{{member.id}}"
							                      (change)="changeModel($event, modelArr, member.id)"
							                      [checked]="modelArr.includes(member.id)" />
								    <label for="checkbox{{member.id}}"></label>
								</div>
							</div>
							<div fxFlex="20" fxFlex.lt-sm="50" fxFlex.sm="35" style="border: 0px solid yellow;">
								<div fxLayout>
									<div flex>
										<div mat-card-avatar class="example-header-image"></div>
									</div>
									<div flex fxLayout="column" style="padding-left: 1rem;">
										<div fxFlex class="full_name" (click)="churchMemberDetails(member)">
											Samuel Teshome {{member.id}}
										</div>
										<div fxFlex fxLayout style="color: grey;">
											<mat-icon style="transform: scale(0.75);">local_phone</mat-icon>
											<span style="font-size: 0.75rem;">+25191111111</span>
										</div>
										<div fxFlex fxLayout style="color: grey;">
											<mat-icon style="transform: scale(0.75);">email</mat-icon>
											<span style="font-size: 0.75rem;">samuel.teshome@local.com</span>
										</div>
									</div>
								</div>
							</div>
							<div fxFlex fxHide.lt-sm fxHide.sm style="border: 0px solid yellow;">
								<div fxLayout="column">
									<div fxFlex fxLayoutAlign="center">&nbsp;</div>
									<div fxFlex fxLayoutAlign="center">ገብረ ማርያም</div>
									<div fxFlex fxLayoutAlign="center">&nbsp;</div>
								</div>
							</div>
							<div fxFlex fxHide.lt-sm fxHide.sm style="border: 0px solid yellow;">
								<div fxLayout="column">
									<div fxFlex fxLayoutAlign="center">Gulele Sub City, Woreda 7 </div>
									<div fxFlex fxLayoutAlign="center">Kebele 08/16, HNo 555</div>
									<div fxFlex fxLayoutAlign="center">Addis Ababa, Ethiopia</div>
								</div>
							</div>
							<div fxFlex fxHide.lt-sm style="border: 0px solid yellow;">
								<div fxLayout="column">
									<div fxFlex fxLayoutAlign="center">&nbsp;</div>
									<div fxFlex fxLayoutAlign="center">አባ ገብረ ማርያም</div>
									<div fxFlex fxLayoutAlign="center">&nbsp;</div>
								</div>
							</div>
							<div fxFlex fxHide.lt-sm style="border: 0px solid yellow;">
								<div fxLayout="column">
									<div fxFlex fxLayoutAlign="center">&nbsp;</div>
									<div fxFlex fxLayoutAlign="center">እንጦጦ ማርያም ገዳም</div>
									<div fxFlex fxLayoutAlign="center">&nbsp;</div>
								</div>
							</div>
							<div fxFlex fxLayoutAlign="flex-end" style="border: 0px solid yellow;">
								<div fxLayout="column">
									<div fxFlex>
										&nbsp;
									</div>
									<div fxFlex fxLayout fxLayoutGap="1.5rem">
										<div fxFlex fxHide.lt-sm *ngIf="btnMembersOpt[i]" (click)="editChurchMember(member)" title="{{ 'chMgt.church-member.edit' | translate }}">
											<mat-icon>edit</mat-icon>
										</div>
										<div fxFlex fxHide.lt-sm *ngIf="btnMembersOpt[i]" title="{{ 'chMgt.church-member.delete' | translate }}">
											<mat-icon>delete_outline</mat-icon>
										</div>
										<div fxFlex>
											<mat-icon [matMenuTriggerFor]="membersOptions">
												more_horiz
											</mat-icon>
											<mat-menu #membersOptions="matMenu">
									          <div fxLayout="column">                                  
									            <div fxFlex>
									              <button mat-menu-item (click)="churchMemberDetails(member)">
									              	<mat-icon>search</mat-icon>
									                <span class="action-submenu">
														{{ 'chMgt.church-member.openMemberProfile' | translate }}
													</span>
									              </button>
									            </div>									        
									            <div fxFlex>
									              <button mat-menu-item (click)="editChurchMember(member)">
									              	<mat-icon>edit</mat-icon>
									                <span class="action-submenu">
														{{ 'chMgt.church-member.edit' | translate }}
													</span>
									              </button>
									            </div>									   
									            <div fxFlex>
									              <button mat-menu-item>
									              	<mat-icon>delete_outline</mat-icon>
									                <span class="action-submenu">
														{{ 'chMgt.church-member.delete' | translate }}
													</span>
									              </button>
									            </div>
									          </div>
									        </mat-menu>
										</div>
									</div>
									<div fxFlex>
										&nbsp;
									</div>
								</div>
							</div>
						</div>
					</mat-card-content>
				</mat-card>
			</div>

			<div fxFlex>
				<mat-paginator 	[length]="resultsLength"
								[pageSize]="pageSize"
								[pageSizeOptions]="pageSizeOptions"
								(page)="pageEvent = getData($event)"
								showFirstLastButtons>
				</mat-paginator>
			</div>
		</div>
	</div>
</div>
