.subheaderbar_text {
	padding-top: 10px;
	margin-left: 20px;
	font-size: 20px;
	font-weight: 400;
	color: #4a4a4a;
}

.add_button {	
	background-color: #6bada9 !important;
	border-radius: 20px;
}

.import_button {
	background-color: transparent;
	border: solid 1px #e8e8eb;
	color: #9a9a9a;
	border-radius: 20px;
	min-width: 38px;
	font-weight: 400;
}

.search_input input {
    border: solid 1px #e8e8eb;
    color: #9a9a9a;
    outline: none;
    width: 100px;
    padding: 9px 15px;
    border-radius: 20px;
    transition: all 0.5s ease;
    font-family:titillium web,sans-serif;
}

.search_input input.expand {
	width: 200px;
}

.search_icon {
    cursor: pointer;
    margin-left: -30px;
    animation: fadein 1s 0s;
}

.search_icon mat-icon {
    font-size: 18px;
    color: #bababa;
}

.search_clear {
    cursor: pointer;
    margin-left: -30px;
    animation: fadein 1s 0s;
}

.search_clear mat-icon {
    font-size: 18px;
    color: #F1948A;
}

.md-secondary {
    background-color: transparent;
    border: solid 1px #e8e8eb;
    outline: none;
    color: #9a9a9a;
    border-radius: 20px;
    min-width: 38px;
    font-weight: 400;
    font-family:titillium web,sans-serif;
}

.md-secondary-add {
    background-color: #6bada9 !important;
    border: solid 1px #e8e8eb;
    outline: none;
    color: #9a9a9a;
    border-radius: 20px;
    min-width: 38px;
    font-weight: 400;
    font-family:titillium web,sans-serif;
}

:lang(am) .md-secondary-add {
  font-family: Ethiopia Jiret;
  font-size: 1.25rem;
}

:lang(am) .action-submenu {
  font-family: Ethiopia Jiret;
  font-size: 1.25rem;
}

.member-add-sm {
  cursor: pointer;
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  background-color: #6bada9 !important; 
  border: solid 1px #e8e8eb;
}

.import-export-sm {
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  background-color: transparent; 
  border: solid 1px #e8e8eb;
}

.icons-sm {
  margin-left: 8px; 
  margin-top: 6px; 
  color: #9a9a9a;
}

.no-data-card {
  font-family:titillium web,sans-serif;
  width: 150px;
}

:lang(am) .no-data-card {
  font-family: Ethiopia Jiret;
  width: 300px;
}

.md-button {
    padding: 4px 20px;
    color: #212121;
    font-size: 14px;
    /*margin: 4px 4px;*/
    line-height: 28px;
    min-height: 28px;
    cursor: pointer;
}

.toolbar_icon {
  transform: scale(0.75); 
  /*margin-left: 10px;*/
  /*margin-top: 5px;*/
}

.list {
	/*padding: 0 1rem 0.5rem;*/
	/*margin-left: 1rem;*/
	/*margin-right: 1rem;*/
	background-color: #f5f5f7;
	width: 100%;
	/*display: table;*/
	border-collapse: separate;
	border-spacing: 0px 8px;
}

.row.header {
    background-color: transparent;
}

p {
  font-family: Lato;
}

.example-card {
  /*max-width: 3000px;*/
  /*margin: 4px;*/
  cursor: pointer;  
}

.example-header-image {
  background-image: url('../../assets/images/avatar_female.png');
  background-size: cover;
}


/*-------------------------*/

.round {
  position: relative;
}

.round_detail {
    margin-top: 20px;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

/*.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}*/

/*.round input[type="checkbox"] {
  visibility: hidden;
}*/

.round input[type="checkbox"]:checked + label {
  background-color: #A569BD;
  border-color: #A569BD;
}

.round input[type="checkbox"]:checked + label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
  opacity: 1;
}

.round input[type="checkbox"]:indeterminate + label {
  background-color: #A569BD;
  border-color: #A569BD;
}

.round input[type="checkbox"]:indeterminate + label:after {
  border: 3px solid #fff;
  border-top: none;
  border-right: none;
  border-left: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  width: 12px;
  opacity: 1;
}

div {
    font-family:titillium web,sans-serif;   
}

button {
    font-family:titillium web,sans-serif;   
}

.selected {
  border: 1px solid #BB8FCE;
}

.full_name:hover {
  text-decoration: underline;
}

::ng-deep .mat-paginator-page-size-select {
  width: 45px !important;
  
}

::ng-deep .mat-select-value {
  font-family: titillium web, sans-serif;
  font-weight: bold;
}

::ng-deep .mat-paginator-page-size-label {
  font-family: titillium web, sans-serif;
}

::ng-deep .mat-paginator-range-label {
  font-family: titillium web, sans-serif;
}

::ng-deep .mat-option {
  font-family: titillium web, sans-serif;
}

::ng-deep .mat-tooltip {
  font-family: titillium web, sans-serif;
}

:lang(am) ::ng-deep .mat-paginator-page-size-label {
  font-family: Ethiopia Jiret;
  font-size: 1rem;
}
