mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

.signin-title { 
  font-family: titillium web, sans-serif;
	margin-left: 10px;
}

:lang(am) .signin-title {
  font-family: Ethiopia Jiret;
}

.signin-field {
  font-family: titillium web, sans-serif; 
}

:lang(am) .signin-field {
  font-family: Ethiopia Jiret; 
}

.signin-content {
  padding: 50px 1rem;
}

.full-width-input {
  width: 100%;
}

mat-error {
	font-family: titillium web,sans-serif;
}

:lang(am) mat-error {
  font-family: Ethiopia Jiret; 
}

.pl-2 {
	margin-left: -40px;
}