﻿/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
@font-face {
    font-family:"Ethiopia Jiret";
    src:url("jiret.eot?") format("eot"),url("jiret.woff") format("woff"),url("jiret.ttf") format("truetype"),url("jiret.svg#EthiopiaJiret") format("svg");
    font-weight:normal;
    font-style:normal;
}
