/* mat-sidenav-container {
    height: 100%;
    width: 100%;
}
mat-sidenav-container.toolbar {
    position: fixed;
    width: 100%;
    display: flex;
} */

/* .mat-toolbar{
    height: 5vh;
  }
  
  .basic{
      height: 12vh;
  }
  
  .span{
     font-family:Georgia, serif;
       font-style:Italic;
       font-size:20px;
  }
  
  h6{
      color:white;
      font-size:12px;
      font-weight:bold;
      font-family: Verdana, sans-serif;
  }
  
  .mat-raised-button{
      border-radius:20px;
      max-height:10vh;
      font-size: 12px;
      font-weight: bold;
      color: white;
      background: #6A5ACD;
  }
  
  .mat-icon {
      transform: scale(1.5);
  }
  
  .mat-sidenav{
      background: darkblue;
  }
  
  .tabs{
      padding-left: 5px;
      color: white;
      font-size: 12px;
      font-family:  Verdana, sans-serif;
  } */

  .mat-sidenav-container {
    height: 100%;
  }
  
  /* $sidenav-width: 320px; */
  
  

  @media only screen 
  and (max-width : 599px) {
    mat-sidenav {
      width: 280px;
    }
  }
  
  .toolbar-title {
      margin-top: 10px;
      font-family: titillium web,sans-serif;
  }

  .toolbar-title-xs {
    margin-top: 10px;
    font-family: titillium web,sans-serif;
    font-size: 14px;
  }

  :lang(am) .toolbar-title {
    font-family: Ethiopia Jiret; 
  }

  :lang(am) .toolbar-title-xs {
    font-family: Ethiopia Jiret;
    font-size: 18px;
  }
  
  .mat-divider {
    border-top-color: white;
  }
  
  .profile_name {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
    font-family:titillium web,sans-serif;
    cursor: pointer;
  }
  
  .profile_email {
    margin-left: 10px;
    font-size: 13px;
    margin-top: -10px;
    font-family:titillium web,sans-serif;
  }
  
  .profile_initials {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #008080;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .profile_initials_txt {
    color: #FFFFFF;
    padding-left: 15px;
    padding-top: 5px;
    font-family:titillium web,sans-serif;
  }
  
  .content {
      margin-left: 5px;
      margin-top: 65px;
      margin-right: 5px;
    /*padding: 10px;*/
      /*margin-bottom: 10px;*/
      min-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .footer {
    margin-left: 5px;
    /*margin-top: 150px;*/
    margin-right: 5px;
    /*margin-bottom: 10px;*/
    /*min-height: 80vh;*/
  }
  