  <div fxLayout="column" style="height: 100%; overflow: hidden;">  
    <div fxFlex>
      <mat-sidenav-container>
        <mat-sidenav #sidenav mode="over" fixedInViewport="true">
          <mat-toolbar color="primary" style="height: 160px;">
            <mat-toolbar-row>
              <div fxLayout="column" fxFill>
                <div fxFlex>
                  <h1 class="toolbar-title" [ngClass.lt-sm]="'toolbar-title-xs'">
                    <span>{{ 'chMgt.organizationName1' | translate }} </span> <br />
                    <span>{{ 'chMgt.organizationName2' | translate }} </span> <br />
                    <span>{{ 'chMgt.organizationName3' | translate }} </span> <br />
                    <span style="margin-left: 80px;">{{ 'chMgt.organizationName4' | translate }} </span>
                  </h1>                  
                </div>
                <div fxFlex>
                  <mat-divider inset="true"></mat-divider>
                </div>
                <!-- <div fxFlex>
                  <div class="profile_initials">
                    <h2 class="profile_initials_txt">S</h2>
                  </div>               
                </div>
                <div fxFlex>
                  <div class="profile_name">
                    <span>Samuel Teshome</span>
                  </div>
                </div>
                <div fxFlex>
                  <div class="profile_email">
                    <span>samuel.teshome@abc.com</span>
                  </div>
                </div> -->
              </div>                     
            </mat-toolbar-row>          
          </mat-toolbar>
          <mat-nav-list>
            <app-layout-side-nav [sideNav]="sidenav"></app-layout-side-nav>
          </mat-nav-list>
        </mat-sidenav>
  
        <mat-sidenav-content>
          <div fxLayout="column">
            <div #toolbarContent fxFlex>
              <app-layout-header (toggleSidenav)="sidenav.toggle()"></app-layout-header>
            </div>
            <div #mainContent fxFlex fxLayout="column" class="content">
              <div fxFlex><router-outlet></router-outlet></div>
              <div fxFlex><app-layout-footer></app-layout-footer></div>
            </div>
            <!-- <div fxFlex class="footer"  [ngStyle]="{'margin-top': marginTop + 'px'}"> -->
            <!-- <div fxFlex class="footer"> -->
              <!-- <app-layout-footer></app-layout-footer> -->
            <!-- </div> -->
          </div>  
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  
    <!-- <div fxFlex>
      <app-layout-footer></app-layout-footer>
    </div> -->
  
  </div>

