.container {
    width: 100%;
    min-height: 75vh;
    padding: 10px;
    background-color: #EBEDEF;  
  }
  
  .dash-title {
    font-weight: normal;
    font-size: 100%;
    font-family: titillium web,sans-serif;
    color: #4A235A;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  
  .divider {
    width: 20%;
    float: left;
  }
  
  .card {
      margin: 10px;
      padding: 0px; 
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  }
  
  .card-icon-container {
      border-right: 1px solid rgba(255, 255, 255, 0.18);
      padding: 30px 0px 30px 0px;
  }
  
  .card-icon {
      transform: scale(2); 
      color: #CACFD2; 
      opacity: .5;
  }
  
  .card-content-1-container {
      border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  }
  
  .card-text-layout {
      padding: 20px 0px 0px 10px;
  }
  
  .card-content-1 {
      font-size: 2rem;
      color: #fff;
      font-family: titillium web,sans-serif;
  }
  
  .card-content-2 {
      font-size: 1.3rem;
      font-family: titillium web,sans-serif;
      color: rgba(255, 255, 255, 0.75);
      font-weight: 500;
      text-transform: uppercase;
  }

  :lang(am) .card-content-2 {
    font-family: Ethiopia Jiret;
    font-size: 2.5rem;
  }  
  
  /*=============*/
  .progress-circle {
    transition: stroke-dashoffset 0.3s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
  
  .text {
    font-family: titillium web,sans-serif;
    font-size: 0.8rem;
    color: #30a5ff;
  }
  
  .text-title {
      font-family: titillium web,sans-serif;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: #30a5ff;
  }
  
  .donut-title {
    font-family: titillium web,sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #30a5ff;
  }

  .chart-tool-tip {
    font-family: titillium web,sans-serif;
  }