<div fxLayout="column" class="container">
	<div fxFlex="10">
		<div fxLayout fxLayoutGap="10px">
			<div fxFlex.gt-xs="4" fxFlex.gt-sm="3" fxFlex.lt-sm="6" style="padding-top: 10px;">
				<mat-icon>dashboard</mat-icon>
			</div>	
			<div fxFlex style="border: 0px solid yellow;">
				<h1 class="dash-title">
					{{ 'chMgt.dashTitle' | translate }}
				</h1>
			</div>
		</div>
	</div>
	<div fxFlex="2">
		<hr class="divider">
	</div>
	<!-- <div fxFlex style="border: 1px solid black;">&nbsp;</div> -->
	<div fxFlex fxLayout fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="space-around center">
		<div fxFlex style="width: 350px;">
			<mat-card fxLayout class="card" style="background-color: #2196F3;">
				<div fxFlex="40" fxFlex.gt-sm="30" class="card-icon-container">
					<div style="margin: 5px;">
						<!-- <mat-icon class="card-icon">add</mat-icon> -->
						<img src="../../../assets/images/baptism_4.png" style="width: 100px; height: 100px;" [ngStyle.gt-md]="'width: 150px; height: 150px;'" />
					</div>
				</div>
				<div fxFlex fxLayout="column">
					<div fxFlex class="card-content-1-container">
						<div class="card-text-layout">
							<span class="card-content-1">84,198</span>
						</div>
					</div>
					<div fxFlex>
						<div class="card-text-layout">
							<span class="card-content-2">
								{{ 'chMgt.baptism' | translate }}
							</span>
						</div>
					</div>
				</div>
			</mat-card>
		</div>
		<div fxFlex style="width: 350px;">
			<mat-card fxLayout class="card" style="background-color: #ff9800;">
				<div fxFlex="40" fxFlex.gt-sm="30"  class="card-icon-container">
					<div style="margin: 5px;">
						<!-- <mat-icon class="card-icon">shopping_cart</mat-icon> -->
						<img src="../../../assets/images/wedding.png" style="width: 100px; height: 100px;" [ngStyle.gt-md]="'width: 150px; height: 150px;'" />
					</div>
				</div>
				<div fxFlex fxLayout="column">
					<div fxFlex class="card-content-1-container">
						<div class="card-text-layout">
							<span class="card-content-1">6,540</span>
						</div>
					</div>
					<div fxFlex>
						<div class="card-text-layout">
							<span class="card-content-2">
								{{ 'chMgt.wedding' | translate }}
							</span>
						</div>
					</div>
				</div>
			</mat-card>
		</div>
		<div fxFlex style="width: 350px;">
			<mat-card fxLayout class="card" style="background-color: #F44336;">
				<div fxFlex="40" fxFlex.gt-sm="30" class="card-icon-container">
					<div style="margin: 5px;">
						<!-- <mat-icon class="card-icon">home</mat-icon> -->
						<img src="../../../assets/images/parish.png" style="width: 100px; height: 100px;" [ngStyle.gt-md]="'width: 150px; height: 150px;'" />
					</div>
				</div>
				<div fxFlex fxLayout="column">
					<div fxFlex class="card-content-1-container">
						<div class="card-text-layout">
							<span class="card-content-1">10,000</span>
						</div>
					</div>
					<div fxFlex>
						<div class="card-text-layout">
							<span class="card-content-2">
								{{ 'chMgt.parish' | translate }} {{ 'chMgt.members' | translate }}
							</span>
						</div>
					</div>
				</div>
			</mat-card>
		</div>
		<!-- <div fxFlex>
			<mat-card fxLayout class="card" style="background-color: #4CAF50;">
				<div fxFlex="30%" class="card-icon-container">
					<div style="margin: 30px;">
						<mat-icon class="card-icon">group</mat-icon>
					</div>
				</div>
				<div fxFlex fxLayout="column">
					<div fxFlex class="card-content-1-container">
						<div class="card-text-layout">
							<span class="card-content-1">88,658</span>
						</div>
					</div>
					<div fxFlex>
						<div class="card-text-layout">
							<span class="card-content-2">Visits</span>
						</div>
					</div>
				</div>
			</mat-card>
		</div> -->
	</div>
	<div fxFlex fxLayoutGap="10px" fxLayout fxLayout.lt-sm="column" style="padding: 20px 10px 10px 10px;">
		<div fxFlex="60">
			<mat-card>
				<div style="display: block;">
					<canvas baseChart							
						[datasets]="barChartData"
						[labels]="barChartLabels"
						[options]="barChartOptions"
						[plugins]="barChartPlugins"
						[legend]="barChartLegend"
						[chartType]="barChartType">
					</canvas>
				</div>
			</mat-card>
		</div>
		<div fxFlex="40" style="margin-left: 10px;" [ngStyle.xs]="'margin-left: 0px; margin-top: 10px;'">
			<mat-card style="height: 400px;" [ngStyle.lt-md]="'height: 249px;'">
				<div fxLayout="column">
					<div fxFlex fxLayoutAlign="center" style="padding: 10px;" [ngStyle.lt-md]="'padding: 0px;'">
						<span class="donut-title">
							{{ 'chMgt.churchServices' | translate }}
						</span>
					</div>
					<div fxFlex>
						<div style="width: 500px; height: 300px; margin: 10px;" [ngStyle.lt-md]="'width: 320px; height: 200px;'">
							<canvas baseChart									
								[data]="usersChartData"
								[labels]="usersChartLabels"
								[chartType]="usersChartType"
								[colors]="usersChartColors"
								[options]="usersChartOptions"
								[legend]="true"
								(chartHover)="usersChartHovered($event)"
								(chartClick)="usersChartClicked($event)"></canvas>
							</div>
					</div>
				</div>					
			</mat-card>
		</div>
	</div>
	<div fxFlex fxLayoutGap="0px" fxLayout fxLayout.lt-md="column" style="padding: 20px 10px 10px 10px;">
		<!-- <div > -->
		<div fxFlex="60">
			<mat-card style="height: 450px;">
				<div fxLayout="column">
					<!-- <div fxFlex>&nbsp;</div> -->
					<div fxFlex fxLayoutAlign="center" style="padding: 10px;">
						<span class="donut-title">Notices</span>
					</div>
					<div fxFlex fxLayout style="padding: 10px;">
						<div fxFlex fxLayout="column">
							<div fxFlex>
								Name Calling
							</div>
							<div fxFlex>
								<ol>
									<li>Abebe Kebede</li>
									<li>Abebe Kebede</li>
									<li>Abebe Kebede</li>
								</ol>
							</div>
						</div>
						<div fxFlex>
							News
						</div>
					</div>
				</div>					
			</mat-card>
		</div>
		<div fxFlex="20" fxLayout="column" fxLayout.lt-md style="padding-left: 20px;" [ngStyle.lt-md]="'padding-top: 20px;'">
			<div fxFlex style="margin-bottom: 10px;">
				<mat-card style="width: 300px; height: 200px;" [ngStyle.lt-lg]="'width: 200px; height: 150px;'">
					<svg viewBox="0, 0, 100, 70">
						<text x="50" y="10" class="text-title" text-anchor="middle">
							{{ 'chMgt.baptism' | translate }}
						</text>
						<circle
							class="progress-circle"
							stroke-width="3"
							[style.strokeDasharray]="circumference"
							[style.strokeDashoffset]="strokeDashoffset"
							fill="transparent"
							stroke="#30a5ff"
							r="20"
							cx="45"
							cy="35" />
						<text x="50" y="45" class="text" text-anchor="middle">{{(value) + '%'}}</text>
					</svg>
				</mat-card>
			</div>
			<div fxFlex >
				<mat-card style="width: 300px; height: 200px;" [ngStyle.lt-lg]="'width: 200px; height: 150px;'">
					<svg viewBox="0, 0, 100, 70">
						<text x="50" y="10" class="text-title" text-anchor="middle">
							{{ 'chMgt.parish' | translate }} {{ 'chMgt.member' | translate }}
						</text>
						<circle
							class="progress-circle"
							stroke-width="3"
							[style.strokeDasharray]="circumference"
							[style.strokeDashoffset]="strokeDashoffset4"
							fill="transparent"
							stroke="#229954"
							r="20"
							cx="45"
							cy="35" />
						<text x="50" y="45" class="text" text-anchor="middle">65%</text>
					</svg>					
				</mat-card>
			</div>	
		</div>
		<div fxFlex="20" fxLayout="column" fxLayout.lt-md style="padding-left: 20px;" [ngStyle.lt-md]="'padding-top: 20px;'">
			<div fxFlex style="margin-bottom: 10px;">
				<mat-card style="width: 300px; height: 200px;" [ngStyle.lt-lg]="'width: 200px; height: 150px;'">
					<svg viewBox="0, 0, 100, 70">
						<text x="50" y="10" class="text-title" text-anchor="middle">
								{{ 'chMgt.weddingTeklile' | translate }} {{ 'chMgt.wedding' | translate }}
						</text>
						<circle
							class="progress-circle"
							stroke-width="3"
							[style.strokeDasharray]="circumference"
							[style.strokeDashoffset]="strokeDashoffset2"
							fill="transparent"
							stroke="#E74C3C"
							r="20"
							cx="45"
							cy="35" />
						<text x="50" y="45" class="text" text-anchor="middle">46%</text>
					</svg>
				</mat-card>
			</div>
			<div fxFlex>
				<mat-card style="width: 300px; height: 200px;" [ngStyle.lt-lg]="'width: 200px; height: 150px;'">
					<svg viewBox="0, 0, 100, 70">
						<text x="50" y="10" class="text-title" text-anchor="middle">
								{{ 'chMgt.weddingKurban' | translate }} {{ 'chMgt.wedding' | translate }}
						</text>
						<circle
							class="progress-circle"
							stroke-width="3"
							[style.strokeDasharray]="circumference"
							[style.strokeDashoffset]="strokeDashoffset3"
							fill="transparent"
							stroke="#D4AC0D"
							r="20"
							cx="45"
							cy="35" />
						<text x="50" y="45" class="text" text-anchor="middle">55%</text>
					</svg>
				</mat-card>
			</div>
		</div>
			
		<!-- </div> -->
	</div>
</div>