<h2 mat-dialog-title class="preview-title">{{ 'chMgt.parish' | translate }} {{ 'chMgt.member' | translate }}</h2>

<mat-divider style="width: 25%; margin-bottom: 10px;"></mat-divider>

<mat-dialog-content class="mat-typography">
	<div style="position: fixed; top: 11%; left: 83%; cursor: pointer;" [ngStyle.xs]="'left: 80%;'" [ngStyle.sm]="'left: 81%;'" [ngStyle.md]="'left: 82%;'">
		<mat-icon style="border: 1px solid #909497; color: #A6ACAF; border-radius: 50%;" (click)="close()" [ngStyle.xs]="'transform: scale(0.8);'">
			close
		</mat-icon>
	</div>
	<div fxLayout fxLayout.xs="column" style="padding-top: 15px;" [ngStyle.xs]="'padding-top: 0px;'">
		<div fxFlex="30" fxFlex.sm="40" fxFlex.xs="50" fxLayout="column" style="padding-left: 5px; border-right: 1px solid #D7DBDD;" [ngStyle.xs]="'border-right: 0px solid #D7DBDD;'">
			<div fxFlex="10" fxLayout style="padding-bottom: 10px;" [ngStyle.xs]="'padding-bottom: 0px;'">
				<div fxFlex="17" fxLayoutAlign.sm="center" fxLayoutAlign.md="center">
					<img style="width: 60px; height: 60px;" src="/assets/images/avatar_female.png" alt="Desc 1">
				</div>
				<div fxFlex style="padding-left: 15px;">
					<h2>Samuel Teshome</h2>
				</div>
				<div fxFlex="7" style="padding-top: 15px;">
					<mat-icon>more_vert</mat-icon>
				</div>
			</div>		
			<div fxFlex fxLayout="column" style="width: 95%;">
				<div fxFlex="10" style="border-bottom: 1px solid #D7DBDD; padding-top: 10px; margin-bottom: 2px;" [ngStyle.xs]="'padding-top: 0px;'">
					<span style="font-size: 1.25rem;">{{ 'chMgt.fullInfo' | translate }}</span>
				</div>
				<div fxFlex fxFlex.xs="1" fxLayout="column" style="overflow: auto; margin-bottom: 2px; border-bottom: 1px solid #E5E7E9; padding-bottom: 10px;">
					<div fxFlex title="{{ 'chMgt.church-member.dateOfBirth' | translate }}" class="church-member-fields">
						<img src="../../../../assets/images/dob_3.png" style="max-width: 20px; max-height: 20px;" />
						<span>{{ 'chMgt.church-member.dateOfBirth' | translate }}</span>
					</div>
					<div fxFlex title="{{ 'chMgt.church-member.placeOfBirth' | translate }}" class="church-member-fields">
						<img src="../../../../assets/images/pob.png" style="max-width: 25px; max-height: 25px;" />
						<span>{{ 'chMgt.church-member.placeOfBirth' | translate }}</span>
					</div>
					<div fxFlex title="{{ 'chMgt.church-member.fathersName' | translate }}" class="church-member-fields">
						<img src="../../../../assets/images/father.png" style="max-width: 25px; max-height: 25px;" />
						<span>{{ 'chMgt.church-member.fathersName' | translate }}</span>
					</div>
					<div fxFlex title="{{ 'chMgt.church-member.mothersName' | translate }}" class="church-member-fields">
						<img src="../../../../assets/images/mother.png" style="max-width: 25px; max-height: 25px;" />
						<span>{{ 'chMgt.church-member.mothersName' | translate }}</span>
					</div>
					<div fxFlex title="{{ 'chMgt.church-member.christianName' | translate }}" class="church-member-fields">
						<img src="../../../../assets/images/cross_1.png" style="max-width: 25px; max-height: 25px;" />
						<span>{{ 'chMgt.church-member.christianName' | translate }}</span>
					</div>
					<div fxFlex title="{{ 'chMgt.church-member.baptizedChurch' | translate }}" class="church-member-fields">
						<img src="../../../../assets/images/church_4.png" style="max-width: 25px; max-height: 25px;" />
						<span>{{ 'chMgt.church-member.baptizedChurch' | translate }}</span>
					</div>
					<div fxFlex title="{{ 'chMgt.church-member.priestName' | translate }}" class="church-member-fields">
						<img src="../../../../assets/images/preist.png" style="max-width: 25px; max-height: 25px;" />
						<span>{{ 'chMgt.church-member.priest' | translate }} {{ 'chMgt.church-member.priestName' | translate }}</span>
					</div>
					<div fxFlex title="{{ 'chMgt.church-member.priestChurch' | translate }}" class="church-member-fields">
						<img src="../../../../assets/images/church_4.png" style="max-width: 25px; max-height: 25px;" />
						<span>{{ 'chMgt.church-member.priest' | translate }} {{ 'chMgt.church-member.priestChurch' | translate }}</span>
					</div>	                
				</div>
				<div fxFlex="10" style="border-bottom: 1px solid #D7DBDD; padding-top: 10px; margin-bottom: 2px;">
					<span style="font-size: 1.25rem;">{{ 'chMgt.church-member.address' | translate }}</span>
				</div>	
				<div fxFlex fxFlex.xs="1" fxLayout="column" style="overflow: auto; margin-bottom: 2px; border-bottom: 1px solid #E5E7E9; padding-bottom: 10px;">
					<div fxFlex fxLayout="column" fxLayout.lt-lg>
						<div fxFlex fxLayout fxLayout.lt-lg="column">
							<div fxFlex title="{{ 'chMgt.church-member.country' | translate }}" style="width: 95%; border-bottom: 1px solid #E5E7E9; padding-top: 5px; padding-bottom: 5px;">
								<img src="../../../../assets/images/country.png" style="max-width: 30px; max-height: 30px;" />
								<span>{{ 'chMgt.church-member.country' | translate }}</span>
							</div>
							<div fxFlex title="{{ 'chMgt.church-member.city' | translate }}" style="width: 95%; border-bottom: 1px solid #E5E7E9; padding-top: 5px; padding-bottom: 5px;">
								<img src="../../../../assets/images/city.png" style="max-width: 30px; max-height: 30px; filter: grayscale(100%);" />
								<span>{{ 'chMgt.church-member.city' | translate }}</span>
							</div>
							<div fxFlex title="{{ 'chMgt.church-member.subCity' | translate }}" style="width: 95%; border-bottom: 1px solid #E5E7E9; padding-top: 5px; padding-bottom: 5px;">
								<img src="../../../../assets/images/city_2.png" style="max-width: 30px; max-height: 30px;" />
								<span>{{ 'chMgt.church-member.subCity' | translate }}</span>
							</div>
						</div>
						<div fxFlex fxLayout fxLayout.lt-lg="column">
							<div fxFlex title="{{ 'chMgt.church-member.woreda' | translate }}" style="width: 95%; border-bottom: 1px solid #E5E7E9; padding-top: 5px; padding-bottom: 5px;">
								<img src="../../../../assets/images/woreda.png" style="max-width: 30px; max-height: 30px;" />
								<span>{{ 'chMgt.church-member.woreda' | translate }}</span>
							</div>
							<div fxFlex title="{{ 'chMgt.church-member.kebele' | translate }}" style="width: 95%; border-bottom: 1px solid #E5E7E9; padding-top: 5px; padding-bottom: 5px;">
								<img src="../../../../assets/images/kebele_2.png" style="max-width: 30px; max-height: 30px;" />
								<span>{{ 'chMgt.church-member.kebele' | translate }}</span>
							</div>
							<div fxFlex title="{{ 'chMgt.church-member.hNo' | translate }}" style="width: 95%; border-bottom: 1px solid #E5E7E9; padding-top: 5px; padding-bottom: 5px;">
								<img src="../../../../assets/images/hno.png" style="max-width: 30px; max-height: 30px; filter: grayscale(100%);" />
								<span>{{ 'chMgt.church-member.hNo' | translate }}</span>
							</div>
						</div>
					</div>
					<div fxFlex title="{{ 'chMgt.church-member.telephoneHome' | translate }}" style="width: 95%; border-bottom: 1px solid #E5E7E9; padding-top: 5px; padding-bottom: 5px;">
						<img src="../../../../assets/images/landline.png" style="max-width: 25px; max-height: 25px;" />
						<span>{{ 'chMgt.church-member.telephoneHome' | translate }}</span>
					</div>
					<div fxFlex title="{{ 'chMgt.church-member.telephoneOffice' | translate }}" style="width: 95%; border-bottom: 1px solid #E5E7E9; padding-top: 5px; padding-bottom: 5px;">
						<img src="../../../../assets/images/landline_2.png" style="max-width: 25px; max-height: 25px;" />
						<span>{{ 'chMgt.church-member.telephoneOffice' | translate }}</span>
					</div>
					<div fxFlex title="{{ 'chMgt.church-member.telephoneMobile' | translate }}" style="width: 95%; border-bottom: 1px solid #E5E7E9; padding-top: 5px; padding-bottom: 5px;">
						<img src="../../../../assets/images/mobile.png" style="max-width: 25px; max-height: 25px;" />
						<span>{{ 'chMgt.church-member.telephoneMobile' | translate }}</span>
					</div>             			               
				</div>	
			</div>
		</div>
		<div fxFlex="70"  fxFlex.sm="60" fxFlex.xs="50" fxLayout="column" style="padding-left: 10px;">
			<div fxFlex style="padding-top: 10px; padding-bottom: 10px;">
				<mat-tab-group animationDuration="0ms" #contactDetailTabs 
								(selectedTabChange)="contactDetailTabsChanged($event)">
					<mat-tab label="{{ 'chMgt.history' | translate }}">
						<div fxLayout="column" style="padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 10px; background-color: #E5E7E9;">                                               
							<div fxFlex>    
								<mat-card *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]">
									<mat-card-content>
										<div fxLayout>
											<div fxFlex="20%" fxLayout="column">
												<div fxFlex>{{ today | date: 'MMM d, y' }}</div> 
												<div fxFlex>{{ today | date: 'hh:mm a' }}</div>
											</div>
											<div fxFlex fxLayoutAlign="start center">
												Task Performed -- {{ number }}
											</div>                                        
										</div>
									</mat-card-content>
								</mat-card>
							</div>
						</div>     			
					</mat-tab>
					<mat-tab label="{{ 'chMgt.familyMembers' | translate }}">
						<div fxLayout="column" style="padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 10px; background-color: #E5E7E9;">
							<div fxFlex fxLayout>
								<div fxFlex fxLayoutAlign="center">
									{{ 'chMgt.church-member.fullName' | translate }}
								</div>
								<div fxFlex fxHide.xs fxLayoutAlign="center">
									{{ 'chMgt.church-member.christianName' | translate }}
								</div>
								<div fxFlex fxHide.xs fxLayoutAlign="center">
									{{ 'chMgt.church-member.gender' | translate }}
								</div>
								<div fxFlex fxHide.xs fxLayoutAlign="center">
									{{ 'chMgt.church-member.dateOfBirth' | translate }}
								</div>
								<div fxFlex fxLayoutAlign="center">
									{{ 'chMgt.church-member.familyRelation' | translate }}
								</div>
								<div fxFlex>&nbsp;</div>                          
							</div>                        
							<div fxFlex>
								<mat-card *ngFor="let number of [1,2,3,4,5,6,7]">
									<mat-card-content>
										<div fxLayout>                                        
											<div fxFlex>
												{{ 'chMgt.church-member.fullName' | translate }}
											</div>
											<div fxFlex fxHide.xs>
												{{ 'chMgt.church-member.christianName' | translate }}
											</div>
											<div fxFlex fxHide.xs fxLayoutAlign="center">
												{{ 'chMgt.church-member.gender' | translate }}
											</div>
											<div fxFlex fxHide.xs>
												{{ 'chMgt.church-member.dateOfBirth' | translate }}
											</div>
											<div fxFlex fxLayoutAlign="center">
												{{ 'chMgt.church-member.familyRelation' | translate }}
											</div>
											<div fxFlex="10" fxLayoutAlign="end">
												<mat-icon [matMenuTriggerFor]="familyMemberOptions" style="cursor: pointer;">
													more_horiz
												</mat-icon>
												<mat-menu #familyMemberOptions="matMenu">
													<div fxLayout="column">                                  
														<div fxFlex fxHide.gt-xs>
															<button mat-menu-item (click)="familyMemberDetails()">
																<mat-icon>search</mat-icon>
															<span class="action-submenu">
																{{ 'chMgt.church-member.openMemberProfile' | translate }}
															</span>
															</button>
														</div>									        
														<div fxFlex>
															<button mat-menu-item (click)="editFamilyMember()">
																<mat-icon>edit</mat-icon>
															<span class="action-submenu">
																{{ 'chMgt.church-member.edit' | translate }}
															</span>
															</button>
														</div>									   
														<div fxFlex>
															<button mat-menu-item (click)="deleteFamilyMember()">
																<mat-icon>delete_outline</mat-icon>
															<span class="action-submenu">
																{{ 'chMgt.church-member.delete' | translate }}
															</span>
															</button>
														</div>
													</div>
												</mat-menu>
											</div>
										</div>
									</mat-card-content>
								</mat-card>
							</div>
						</div>     			
					</mat-tab>
					<mat-tab label="{{ 'chMgt.payment' | translate }}">
						<div fxLayout="column" style="padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 10px; background-color: #E5E7E9;">							
							<div fxFlex>
								<mat-card>
									<mat-accordion displayMode="flat">
										<mat-expansion-panel *ngFor="let number of [1,2,3]">
											<mat-expansion-panel-header>
												<mat-panel-title>
													{{ 2010 + number }}
												</mat-panel-title>      
											</mat-expansion-panel-header>
											<mat-divider style="width: 93%; margin-left: 20px;" [ngStyle.xs]="'width: 80%;'"></mat-divider>
											<div fxLayout fxLayout.xs="column" style="padding-top: 10px;">
												<div fxFlex fxLayout="column">
													<div fxFlex fxLayout style="padding: 10px 10px 0px 10px;" [ngStyle.xs]="'padding: 0px;'">
														<div fxFlex="30" fxFlex.xs="35" fxLayoutAlign="center" style="border: 1px solid #909497; font-weight: bold;">
															<span [ngStyle.xs]="'font-size: 12px;'">
																{{ 'chMgt.church-member.paymentMonth' | translate }}
															</span>
														</div>
														<div fxFlex="30" fxFlex.xs="25" fxLayoutAlign="center" style="border: 1px solid #909497; font-weight: bold;">
															<span [ngStyle.xs]="'font-size: 12px;'">
																{{ 'chMgt.church-member.paymentAmount' | translate }}
															</span>
														</div>
														<div fxFlex="40" fxLayoutAlign="center" style="border: 1px solid #909497; font-weight: bold;">
															<span [ngStyle.xs]="'font-size: 12px;'">
																{{ 'chMgt.church-member.paymentDate' | translate }}
															</span>
														</div>
													</div>
													<div fxFlex fxLayout style="padding: 0px 10px 0px 10px;" [ngStyle.xs]="'padding: 0px;'">
														<div fxFlex="30" fxFlex.xs="35" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">
																{{ 'chMgt.months.september' | translate }}
															</span>
														</div>
														<div fxFlex="30" fxFlex.xs="25" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">
																123.12
															</span>
														</div>
														<div fxFlex="40" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">
																15/01/2012
															</span>
														</div>
													</div>
													<div fxFlex fxLayout style="padding: 0px 10px 0px 10px;" [ngStyle.xs]="'padding: 0px;'">
														<div fxFlex="30" fxFlex.xs="35" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">	
																{{ 'chMgt.months.october' | translate }}
															</span>
														</div>
														<div fxFlex="30" fxFlex.xs="25" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">
																123.12
															</span>
														</div>
														<div fxFlex="40" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">
																15/02/2012
															</span>
														</div>
													</div>
													<div fxFlex fxLayout style="padding: 0px 10px 0px 10px;" [ngStyle.xs]="'padding: 0px;'">
														<div fxFlex="30" fxFlex.xs="35" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">	
																{{ 'chMgt.months.november' | translate }}
															</span>
														</div>
														<div fxFlex="30" fxFlex.xs="25" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">
																123.12
															</span>
														</div>
														<div fxFlex="40" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">
																15/03/2012
															</span>
														</div>
													</div>
													<div fxFlex fxLayout style="padding: 0px 10px 0px 10px;" [ngStyle.xs]="'padding: 0px;'">
														<div fxFlex="30" fxFlex.xs="35" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">	
																{{ 'chMgt.months.december' | translate }}
															</span>
														</div>
														<div fxFlex="30" fxFlex.xs="25" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">
																123.12
															</span>
														</div>
														<div fxFlex="40" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">
																15/04/2012
															</span>
														</div>
													</div>
													<div fxFlex fxLayout style="padding: 0px 10px 0px 10px;" [ngStyle.xs]="'padding: 0px;'">
														<div fxFlex="30" fxFlex.xs="35" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">	
																{{ 'chMgt.months.january' | translate }}
															</span>
														</div>
														<div fxFlex="30" fxFlex.xs="25" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">
																123.12
															</span>
														</div>
														<div fxFlex="40" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">
																15/05/2012
															</span>
														</div>
													</div>
													<div fxFlex fxLayout style="padding: 0px 10px 0px 10px;" [ngStyle.xs]="'padding: 0px;'">
														<div fxFlex="30" fxFlex.xs="35" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">	
																{{ 'chMgt.months.feburary' | translate }}
															</span>
														</div>
														<div fxFlex="30" fxFlex.xs="25" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">
																123.12
															</span>
														</div>
														<div fxFlex="40" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">
																15/06/2012
															</span>
														</div>
													</div>
													<div fxFlex fxLayout style="padding: 0px 10px 0px 10px;" [ngStyle.xs]="'padding: 0px;'">
														<div fxFlex="30" fxFlex.xs="35" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">	
																{{ 'chMgt.months.march' | translate }}
															</span>
														</div>
														<div fxFlex="30" fxFlex.xs="25" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">
																123.12
															</span>
														</div>
														<div fxFlex="40" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">
																15/07/2012
															</span>
														</div>
													</div>
													<div fxFlex fxLayout style="padding: 0px 10px 0px 10px;" [ngStyle.xs]="'padding: 0px;'">
														<div fxFlex="30" fxFlex.xs="35" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">	
																{{ 'chMgt.months.april' | translate }}
															</span>
														</div>
														<div fxFlex="30" fxFlex.xs="25" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">
																123.12
															</span>
														</div>
														<div fxFlex="40" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">
																15/08/2012
															</span>
														</div>
													</div>
													<div fxFlex fxLayout style="padding: 0px 10px 0px 10px;" [ngStyle.xs]="'padding: 0px;'">
														<div fxFlex="30" fxFlex.xs="35" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">	
																{{ 'chMgt.months.may' | translate }}
															</span>
														</div>
														<div fxFlex="30" fxFlex.xs="25" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">
																123.12
															</span>
														</div>
														<div fxFlex="40" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">
																15/09/2012
															</span>
														</div>
													</div>
													<div fxFlex fxLayout style="padding: 0px 10px 0px 10px;" [ngStyle.xs]="'padding: 0px;'">
														<div fxFlex="30" fxFlex.xs="35" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">	
																{{ 'chMgt.months.june' | translate }}
															</span>
														</div>
														<div fxFlex="30" fxFlex.xs="25" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">
																123.12
															</span>
														</div>
														<div fxFlex="40" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">
																15/10/2012
															</span>
														</div>
													</div>
													<div fxFlex fxLayout style="padding: 0px 10px 0px 10px;" [ngStyle.xs]="'padding: 0px;'">
														<div fxFlex="30" fxFlex.xs="35" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">	
																{{ 'chMgt.months.july' | translate }}
															</span>
														</div>
														<div fxFlex="30" fxFlex.xs="25" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">
																123.12
															</span>
														</div>
														<div fxFlex="40" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">
																15/11/2012
															</span>
														</div>
													</div>
													<div fxFlex fxLayout style="padding: 0px 10px 0px 10px;" [ngStyle.xs]="'padding: 0px;'">
														<div fxFlex="30" fxFlex.xs="35" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">	
																{{ 'chMgt.months.august' | translate }}
															</span>
														</div>
														<div fxFlex="30" fxFlex.xs="25" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">
																123.12
															</span>
														</div>
														<div fxFlex="40" style="border: 1px solid #E5E7E9; padding: 5px 0px 5px 0px;">
															<span [ngStyle.xs]="'font-size: 12px;'">
																15/12/2012
															</span>
														</div>
													</div>																									
												</div>
												<div fxFlex fxLayoutAlign="end">
													<div class="edit_property_info" (click)="editPayment()">
														{{ 'chMgt.editBtn' | translate }}
													</div>
												</div>
											</div>
										</mat-expansion-panel>										
									</mat-accordion>
								</mat-card>
							</div>
						</div>
					</mat-tab>      			
				</mat-tab-group>
			</div>
		</div>
	</div>
	<div class="add-options" [ngStyle.xs]="'left: 79%; height: 30px; width: 30px;'" [ngStyle.sm]="'left: 80%; height: 40px; width: 40px;'" [ngStyle.md]="'left: 81%; height: 40px; width: 40px;'" *ngIf="!addFamilyMemberBtn && !addPaymentBtn">
		<mat-icon style="margin-left: 12px; margin-top: 12px;" [ngStyle.xs]="'margin-left: 3px; margin-top: 3px; transform: scale(0.8);'" [ngStyle.sm]="'margin-left: 7px; margin-top: 7px; transform: scale(0.9);'" [ngStyle.md]="'margin-left: 7px; margin-top: 7px; transform: scale(0.9);'" [matMenuTriggerFor]="addChurchMembersOptionsMenu">
			add
		</mat-icon>
		<mat-menu #addChurchMembersOptionsMenu="matMenu">
			<div fxLayout="column">                                  
				<div fxFlex>
				<button mat-menu-item (click)="addFamilyMember()">
					<img src="../../../../assets/images/family_3_3.png" style="max-width: 25px; max-height: 25px;" />
					<span>Add Family</span>
				</button>
				</div>
				<div fxFlex>
				<button mat-menu-item (click)="addPayment()">
					<img src="../../../../assets/images/payment_2_3.png" style="max-width: 25px; max-height: 25px;" />
					<span>Add Payment</span>
				</button>
				</div>		
			</div>
		</mat-menu>
	</div>

	<div *ngIf="addFamilyMemberBtn" class="add-another" (click)="addFamilyMember()" [ngStyle.xs]="'left: 75%; width: 50px;'" [ngStyle.sm]="'left: 68%;'" [ngStyle.md]="'left: 72%;'" [ngClass]="addFamilyMemberBtn ? 'active' : ''">
		<div fxHide.xs style="float: left; margin-left: 10px; margin-top: 5px;">
			<img src="../../../../assets/images/family_3_2.png" style="max-width: 25px; max-height: 25px;" />	
		</div>
		<div fxHide.gt-xs fxShow.xs style="float: left; margin-left: 10px; margin-top: 5px;" title="Add Family Members">
			<img src="../../../../assets/images/family_3_2.png" style="max-width: 25px; max-height: 25px;" />	
		</div>
		<div style="float: right; margin-top: 5px; width: 120px; text-transform: uppercase; font-size: 0.9rem;" fxHide.xs>
			Add Family
		</div>
	</div>

	<div *ngIf="addPaymentBtn" class="add-another" (click)="addPayment()" [ngStyle.xs]="'left: 75%; width: 50px;'" [ngStyle.sm]="'left: 68%;'" [ngStyle.md]="'left: 72%;'" [ngClass]="addPaymentBtn ? 'active' : ''">
		<div fxHide.xs style="float: left; margin-left: 10px; margin-top: 5px;">
			<img src="../../../../assets/images/payment_2_2.png" style="max-width: 25px; max-height: 25px;" />
		</div>
		<div fxHide.gt-xs fxShow.xs style="float: left; margin-left: 10px; margin-top: 5px;" title="Add Payment">
			<img src="../../../../assets/images/payment_2_2.png" style="max-width: 25px; max-height: 25px;" />
		</div>
		<div style="float: right; margin-top: 5px; width: 120px; text-transform: uppercase; font-size: 0.9rem;" fxHide.xs>
			Add Payment
		</div>
	</div>
</mat-dialog-content>