button {
	font-family: 'Titillium Web', sans-serif;
}

span {
	margin-left: 10px;
}

.church-member-fields {
    width: 95%; 
    border-bottom: 1px solid #E5E7E9;
    padding-top: 5px; 
    padding-bottom: 5px; 
    font-family: 'Titillium Web', sans-serif;
}

div, mat-panel-title, .preview-title {
	font-family: 'Titillium Web', sans-serif;
}

:lang(am) .preview-title {
    font-family: Ethiopia Jiret;
    font-size: 1.5rem;
}

:lang(am) .action-submenu {
	font-family: Ethiopia Jiret;
	font-size: 1.25rem;
}


.mat-card {
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 0px;
	font-family: 'Titillium Web', sans-serif;
}

.add-options {
    height: 50px;
    width: 50px;
    opacity: 0.5;
    position: fixed;
    top: 83%;
    left: 82%;
    z-index: 2;
    border: 1px solid #6bada9;
    background-color: #6bada9 !important;
    color: #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.6s 0.5s ease-in-out;
}

.add-options:hover {
	opacity: 1;
}

.add-another {
	height: 30px;
	width: 160px; 
	position: fixed; 
    top: 83%;
    left: 76%;
	z-index: 2; 
	border: 1px solid #6bada9; 
	background-color: #6bada9 !important; 
	color: #FFFFFF; 
	border-radius: 20px; 
	cursor: pointer; 
	transition: all 0.6s 0.5s ease-in-out;
	box-shadow: 0 2px 5px 0; 
	transform: translateY(80px);
}

.add-another.active {
	opacity: 0.5;
	transform: translateY(0px);	
}

.add-another:hover {
	opacity: 1;
}

.edit_property_info {
	opacity: 0.7;
	border: 1px solid #A6ACAF;
	border-radius: 20px; 
	width: 45px; 
	height: 25px; 
	padding-left: 15px; 
	padding-top: 5px; 
	text-transform: uppercase; 
	margin-top: 10px; 
	cursor: pointer;
}

.edit_property_info:hover {
	background-color: #f5f5f7;
	opacity: 1;
}
