<div fxLayout>
    <div fxFlex fxHide.lt-md>&nbsp;</div>
    <div fxFlex="60" fxFlex.lt-md="100" fxLayout>
        <div fxFlex="50" fxFlex.xs="70">
            You have {{ status$ | async }} clients selected, what do you want to do?
        </div>
        <div fxFlex="15">
            <button mat-raised-button>
                <mat-icon>delete_outline</mat-icon>
                <span fxHide.xs>Delete</span>
            </button>
        </div>
        <div fxFlex>
            <button mat-raised-button>
                <mat-icon>people_outline</mat-icon>
                <span fxHide.xs>Move to Pros</span>
            </button>
        </div>
    </div>
    <div fxFlex fxHide.lt-md>&nbsp;</div>
</div>