/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~material-design-icons/iconfont/material-icons.css';

html, body { height: 100%; font-family: 'Titillium Web', sans-serif; }

:lang(am) {
    /* font-family: Ethiopic Yigezu Bisrat Goffer; */
}

.blue-snackbar {
	background: #6bada9;
  	position: absolute; 
  	top: 0;
  	left: 0;
	max-width: 100% !important;
  	width: 97%;
	height: 60px;
}

.member-detail-dialog-container .mat-dialog-container {
    height: 80vh;
}

.member-detail-dialog-container .mat-tab-body-wrapper {
    height: 55vh;
} 

.member-detail-dialog-container .mat-tab {
  overflow: auto;
}

.member-detail-dialog-container .mat-tab-label {
    min-width: 138px !important;
    padding: 5px;
    background-color: #f5f5f7;
    font-family: 'Titillium Web', sans-serif;
}

.member-detail-dialog-container .mat-tab-label.mat-tab-label-active {
    background-color: #A6ACAF;
}