<h2 mat-dialog-title *ngIf="title === 'Add'">{{ 'chMgt.addMemberTitle' | translate }}</h2>
<h2 mat-dialog-title *ngIf="title === 'Edit'">{{ 'chMgt.editMemberTitle' | translate }}</h2>
<h2 mat-dialog-title *ngIf="title === 'Preview Members'">{{ 'chMgt.previewMemberTitle' | translate }}</h2>

<mat-divider *ngIf="title === 'Add' || title === 'Edit'" style="width: 40%; margin-bottom: 10px;"></mat-divider>

<mat-dialog-content [formGroup]="churchMemberForm" *ngIf="title === 'Add' || title === 'Edit'">
    <div style="transform: scale(0.8); position: fixed; top: 15%; left: 69%; cursor: pointer;" [ngStyle.xs]="'left: 80%;'" [ngStyle.sm]="'left: 82%;'" [ngStyle.md]="'left: 79%;'">
        <mat-icon style="border: 1px solid #909497; color: #A6ACAF; border-radius: 50%;" (click)="close()" [ngStyle.xs]="'transform: scale(0.8);'">
            close
        </mat-icon>
    </div>
    <div fxLayout="column" style="height: 550px;">
        <div fxFlex fxLayout style="padding: 10px;">
            <div fxFlex="25" fxFlex.xs="40" style="border: 0px solid red;">
                <div *ngIf="!url" style="height: 80px; width: 80px; background: #aaaaaa; border-radius: 100%; margin: 10px 0px 0px 10px; padding: 50px 0px 0px 50px;">
                    <mat-icon style="color: #FFFFFF; transform: scale(4);">account_circle</mat-icon>                   
                </div>
                
                <div class="avatar-preview" [@selectedImage]="imageState" *ngIf="url" [style.background-image]="'url('+url+')'"></div>
            
                <div title="Upload Members Picture" style="cursor: pointer; height: 30px; width: 30px; background: #746a89; border-radius: 100%; position: relative; top: -25px; left: 80px; border: 3px solid #FFFFFF; padding-top: 5px; padding-left: 5px; outline: none;">
                    <mat-icon style="color: #FFFFFF;" (click)="fileUpload.click()">camera_alt</mat-icon>
                    <input #fileUpload type="file" (click)="fileUpload.value = null" (change)="importFile($event)" style="display:none" accept="image/*">
                </div>
            </div>
            <div fxFlex fxLayout="column" style="border: 0px solid red;">
                <div fxFlex fxLayout fxLayout.xs="column">
                    <div fxFlex>
                        <mat-form-field class="full-width-input" [ngClass.xs]="'full-width-input-xs'">
                            <mat-label>{{ 'chMgt.church-member.fullName' | translate }}</mat-label>
                            <input matInput placeholder="{{ 'chMgt.church-member.fullName' | translate }}" formControlName="fullName" required>
                            <mat-error *ngIf="churchMemberForm.get('fullName').hasError('required')">
                                {{ 'chMgt.church-member.fullNameError' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex>
                        <mat-form-field class="full-width-input" [ngClass.xs]="'full-width-input-xs'">
                            <mat-label>{{ 'chMgt.church-member.gender' | translate }}</mat-label>
                            <mat-select #gender required formControlName="gender">
                                <mat-option *ngFor="let gender of genders" [value]="gender.value">
                                    {{gender.viewValue}}
                                </mat-option>                                    
                            </mat-select>
                            <mat-error *ngIf="churchMemberForm.get('gender').hasError('required')">
                                    {{ 'chMgt.church-member.genderError' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex fxLayout fxHide.xs fxLayout.xs="column">
                    <div fxFlex>
                        <mat-form-field class="full-width-input" [ngClass.xs]="'full-width-input-xs'">
                            <input matInput [matDatepicker]="picker" placeholder="{{ 'chMgt.church-member.dateOfBirth' | translate }}" formControlName="dateOfBirth" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="churchMemberForm.get('dateOfBirth').hasError('required')">
                                {{ 'chMgt.church-member.dateOfBirthError' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex>
                        <mat-form-field class="full-width-input" [ngClass.xs]="'full-width-input-xs'">
                            <mat-label>{{ 'chMgt.church-member.placeOfBirth' | translate }}</mat-label>
                            <input matInput placeholder="{{ 'chMgt.church-member.placeOfBirth' | translate }}" formControlName="placeOfBirth" required>
                            <mat-error *ngIf="churchMemberForm.get('placeOfBirth').hasError('required')">
                                {{ 'chMgt.church-member.placeOfBirthError' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex fxLayout fxHide.xs fxLayout.xs="column">
                    <div fxFlex>
                        <mat-form-field class="full-width-input" [ngClass.xs]="'full-width-input-xs'">
                            <mat-label>{{ 'chMgt.church-member.fathersName' | translate }}</mat-label>
                            <input matInput placeholder="{{ 'chMgt.church-member.fathersName' | translate }}" formControlName="fathersName" required>
                            <mat-error *ngIf="churchMemberForm.get('fathersName').hasError('required')">
                                {{ 'chMgt.church-member.fathersNameError' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex>
                        <mat-form-field class="full-width-input" [ngClass.xs]="'full-width-input-xs'">
                            <mat-label>{{ 'chMgt.church-member.mothersName' | translate }}</mat-label>
                            <input matInput placeholder="{{ 'chMgt.church-member.mothersName' | translate }}" formControlName="mothersName" required>
                            <mat-error *ngIf="churchMemberForm.get('mothersName').hasError('required')">
                                {{ 'chMgt.church-member.mothersNameError' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex fxLayout fxHide.xs fxLayout.xs="column">
                    <div fxFlex>
                        <mat-form-field class="full-width-input" [ngClass.xs]="'full-width-input-xs'">
                            <mat-label>{{ 'chMgt.church-member.christianName' | translate }}</mat-label>
                            <input matInput placeholder="{{ 'chMgt.church-member.christianName' | translate }}" formControlName="christianName" required>
                            <mat-error *ngIf="churchMemberForm.get('christianName').hasError('required')">                                        
                                {{ 'chMgt.church-member.christianNameError' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex>
                        <mat-form-field class="full-width-input" [ngClass.xs]="'full-width-input-xs'">
                            <mat-label>{{ 'chMgt.church-member.baptizedChurch' | translate }}</mat-label>
                            <input matInput placeholder="{{ 'chMgt.church-member.baptizedChurch' | translate }}" formControlName="baptizedChurch" required>
                            <mat-error *ngIf="churchMemberForm.get('baptizedChurch').hasError('required')">
                                {{ 'chMgt.church-member.baptizedChurchError' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>                       
            </div>                    
        </div>
        <div fxFlex fxLayout fxShow.xs fxHide.gt-xs style="padding-bottom: 10px; padding-left: 20px; padding-right: 20px;" [ngStyle.xs]="'padding-bottom: 5px; padding-left: 2px; padding-right: 2px;'">
            <div fxFlex>
                <mat-form-field class="full-width-input" [ngClass.xs]="'full-width-input-xs'">
                    <input matInput [matDatepicker]="picker2" placeholder="{{ 'chMgt.church-member.dateOfBirth' | translate }}" formControlName="dateOfBirth" required>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <mat-error *ngIf="churchMemberForm.get('dateOfBirth').hasError('required')">
                            {{ 'chMgt.church-member.dateOfBirthError' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex>
                <mat-form-field class="full-width-input" [ngClass.xs]="'full-width-input-xs'">
                    <mat-label>{{ 'chMgt.church-member.placeOfBirth' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'chMgt.church-member.placeOfBirth' | translate }}" formControlName="placeOfBirth" required>
                    <mat-error *ngIf="churchMemberForm.get('placeOfBirth').hasError('required')">
                        {{ 'chMgt.church-member.placeOfBirthError' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxFlex fxLayout fxShow.xs fxHide.gt-xs style="padding-bottom: 10px; padding-left: 20px; padding-right: 20px;" [ngStyle.xs]="'padding-bottom: 5px; padding-left: 2px; padding-right: 2px;'">
            <div fxFlex>
                <mat-form-field class="full-width-input" [ngClass.xs]="'full-width-input-xs'">
                    <mat-label>{{ 'chMgt.church-member.fathersName' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'chMgt.church-member.fathersName' | translate }}" formControlName="fathersName" required>
                    <mat-error *ngIf="churchMemberForm.get('fathersName').hasError('required')">
                        {{ 'chMgt.church-member.fathersNameError' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex>
                <mat-form-field class="full-width-input" [ngClass.xs]="'full-width-input-xs'">
                    <mat-label>{{ 'chMgt.church-member.mothersName' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'chMgt.church-member.mothersName' | translate }}" formControlName="mothersName" required>
                    <mat-error *ngIf="churchMemberForm.get('mothersName').hasError('required')">
                            {{ 'chMgt.church-member.mothersNameError' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxFlex fxLayout fxShow.xs fxHide.gt-xs style="padding-bottom: 10px; padding-left: 20px; padding-right: 20px;" [ngStyle.xs]="'padding-bottom: 5px; padding-left: 2px; padding-right: 2px;'">
            <div fxFlex>
                <mat-form-field class="full-width-input" [ngClass.xs]="'full-width-input-xs'">
                    <mat-label>{{ 'chMgt.church-member.christianName' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'chMgt.church-member.christianName' | translate }}" formControlName="christianName" required>
                    <mat-error *ngIf="churchMemberForm.get('christianName').hasError('required')">
                            {{ 'chMgt.church-member.christianNameError' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex>
                <mat-form-field class="full-width-input" [ngClass.xs]="'full-width-input-xs'">
                    <mat-label>{{ 'chMgt.church-member.baptizedChurch' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'chMgt.church-member.baptizedChurch' | translate }}" formControlName="baptizedChurch" required>
                    <mat-error *ngIf="churchMemberForm.get('baptizedChurch').hasError('required')">
                            {{ 'chMgt.church-member.baptizedChurchError' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxFlex style="padding-bottom: 10px; padding-left: 20px; padding-right: 20px;" [ngStyle.xs]="'padding-bottom: 5px; padding-left: 2px; padding-right: 2px;'">
            <fieldset>
                <legend style="color: #A6ACAF; font-size: 0.8rem;">
                    {{ 'chMgt.church-member.address' | translate }}
                </legend>
                <div fxLayout="column">
                    <div fxFlex fxLayout="column" fxLayout.xs>
                        <div fxFlex fxLayout fxLayout.xs="column">
                            <div fxFlex>
                                <mat-form-field class="full-width-input">
                                    <mat-label>{{ 'chMgt.church-member.country' | translate }}</mat-label>
                                    <mat-select required formControlName="country" (selectionChange)="changePropertyCountryType();">
                                        <mat-option *ngFor="let country of countries" [value]="country.value">
                                            {{country.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="churchMemberForm.get('country').hasError('required')">
                                        {{ 'chMgt.church-member.countryError' | translate }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex>
                                <mat-form-field class="full-width-input">
                                    <mat-label>{{ 'chMgt.church-member.city' | translate }}</mat-label>
                                    <mat-select required formControlName="city" (selectionChange)="changePropertyCountryType();">
                                        <mat-option *ngFor="let city of cities" [value]="city.value">
                                                {{city.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="churchMemberForm.get('city').hasError('required')">                                                
                                        {{ 'chMgt.church-member.cityError' | translate }}
                                    </mat-error>
                            </mat-form-field>
                            </div>
                            <div fxFlex>
                                <mat-form-field class="full-width-input">
                                    <mat-label>{{ 'chMgt.church-member.subCity' | translate }}</mat-label>
                                    <mat-select required formControlName="subCity" (selectionChange)="changePropertyCountryType();">
                                        <mat-option *ngFor="let subCity of subCities" [value]="subCity.value">
                                                {{subCity.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="churchMemberForm.get('subCity').hasError('required')">
                                        {{ 'chMgt.church-member.subCityError' | translate }}
                                    </mat-error>
                            </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex fxLayout fxLayout.xs="column">
                            <div fxFlex>
                                <mat-form-field class="full-width-input">
                                    <mat-label>{{ 'chMgt.church-member.woreda' | translate }}</mat-label>
                                    <input matInput placeholder="{{ 'chMgt.church-member.woreda' | translate }}" formControlName="woreda" required>
                                    <mat-error *ngIf="churchMemberForm.get('woreda').hasError('required')">
                                            {{ 'chMgt.church-member.woredaError' | translate }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex>
                                <mat-form-field class="full-width-input">
                                    <mat-label>{{ 'chMgt.church-member.kebele' | translate }}</mat-label>
                                    <input matInput placeholder="{{ 'chMgt.church-member.kebele' | translate }}" formControlName="kebele" required>
                                    <mat-error *ngIf="churchMemberForm.get('kebele').hasError('required')">
                                        {{ 'chMgt.church-member.kebeleError' | translate }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex>
                                <mat-form-field class="full-width-input">
                                    <mat-label>{{ 'chMgt.church-member.hNo' | translate }}</mat-label>
                                    <input matInput placeholder="{{ 'chMgt.church-member.hNo' | translate }}" formControlName="hNo" required>
                                    <mat-error *ngIf="churchMemberForm.get('hNo').hasError('required')">
                                        {{ 'chMgt.church-member.hNoError' | translate }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>                           
                    <div fxFlex>
                        <mat-form-field class="full-width-input">
                            <mat-label class="placeholder">{{ 'chMgt.church-member.telephone' | translate }}</mat-label>
                            <input matInput ng2TelInput [ng2TelInputOptions]="{initialCountry: 'et'}" placeholder="{{ 'chMgt.church-member.telephone' | translate }}" formControlName="phoneNumber" (hasError)="hasError($event)" />
                            <mat-error *ngIf="!churchMemberForm.get('phoneNumber').valid && churchMemberForm.get('phoneNumber').touched">
                                {{ 'chMgt.church-member.telephoneError' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>                    
            </fieldset>
        </div>
        <div fxFlex style="padding-bottom: 10px; padding-left: 20px; padding-right: 20px;" [ngStyle.xs]="'padding-bottom: 5px; padding-left: 2px; padding-right: 2px;'">
            <fieldset>
                <legend style="color: #A6ACAF; font-size: 0.8rem;">
                    {{ 'chMgt.church-member.priest' | translate }}                        
                </legend>
                <div fxLayout>
                    <div fxFlex>    					                                
                        <mat-form-field class="full-width-input" [ngClass.xs]="'full-width-input-xs'">
                            <mat-label>{{ 'chMgt.church-member.priestName' | translate }}</mat-label>
                            <input matInput placeholder="{{ 'chMgt.church-member.priestName' | translate }}" formControlName="priestName" required>
                            <mat-error *ngIf="churchMemberForm.get('priestName').hasError('required')">
                                {{ 'chMgt.church-member.priestNameError' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>					
                    <div fxFlex>                                
                        <mat-form-field class="full-width-input" [ngClass.xs]="'full-width-input-xs'">
                            <mat-label>{{ 'chMgt.church-member.priestChurch' | translate }}</mat-label>
                            <input matInput placeholder="{{ 'chMgt.church-member.priestChurch' | translate }}" formControlName="priestChurch" required>
                            <mat-error *ngIf="churchMemberForm.get('priestChurch').hasError('required')">
                                {{ 'chMgt.church-member.priestChurchError' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>                
                </div>
            </fieldset>
        </div>
    </div>
</mat-dialog-content>
        
<mat-divider *ngIf="title === 'Add' || title === 'Edit'" style="margin-top: 10px;"></mat-divider>

<mat-dialog-actions *ngIf="title === 'Add' || title === 'Edit'">
    <button class="mat-raised-button" (click)="close()">{{ 'chMgt.closeBtn' | translate }}</button>&nbsp;&nbsp;
    <button class="mat-raised-button mat-primary" [disabled]="loading" (click)="save()">{{ 'chMgt.saveBtn' | translate }}</button>
    <img *ngIf="loading" class="loading-img" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
</mat-dialog-actions>