h2 {
	font-family: titillium web,sans-serif;
}

button {
	font-family: titillium web,sans-serif;	
}

.loading-img {
	margin-left: -40px;
}

mat-form-field, mat-checkbox, mat-select, mat-option {
	font-family: titillium web,sans-serif;
}

.full-width-input {
	width: 80%;
}

.full-width-input-xs {
	width: 80%;
	margin-left: 10px;
}

.placeholder {
	padding-left: 50px;
}

.avatar-preview {
	width: 120px;
	height: 120px;
	position: relative;
	border-radius: 100%;
	border: 6px solid #F8F8F8;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
	border-radius: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 20px 0px 0px 10px;
}