﻿/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
@font-face {
    font-family:"Ethiopic Wookianos";
    src:url("wookianos.eot?") format("eot"),url("wookianos.woff") format("woff"),url("wookianos.ttf") format("truetype"),url("wookianos.svg#EthiopicWookianos") format("svg");
    font-weight:normal;
    font-style:normal;
}
